<div class="section-product-detail">
        <div class="padding-global">
          <div class="container">
            <div class="current-link">
              <a
                href="../index.html"
                class="link text-weight-medium text-darkgreen3"
                >Home</a
              ><img
                src="https://assets-global.website-files.com/655334388fc47d51f723afb0/655742687d9bf6e0cd5c67ae_arrow-right-grey.svg"
                loading="lazy"
                alt="arrow-right"
              />
              <div class="w-dyn-list">
                <div role="list" class="w-dyn-items">
                  <div role="listitem" class="link w-dyn-item">
                    <a
                      href="../category/fashion.html"
                      class="link text-weight-medium text-darkgreen3"
                      >Fashion</a
                    >
                  </div>
                </div>
              </div>
              <img
                src="https://assets-global.website-files.com/655334388fc47d51f723afb0/655742687d9bf6e0cd5c67ae_arrow-right-grey.svg"
                loading="lazy"
                alt="arrow-right"
              />
              <p class="text-weight-medium">Green Man Jacket</p>
            </div>
            <div class="product-detail-top-wrap">
              <div
                id="w-node-e02ededd-a84c-7fdd-fba7-1c2133ad2356-e9bc7c47"
                class="product-detail-top-lightbox"
              >
                <a
                  href="#"
                  data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_main_image_4dr%22%2C%22to%22%3A%22media%22%7D%5D"
                  class="image-chart-wrap w-inline-block w-lightbox"
                  ><img
                    alt="Green Man Jacket"
                    loading="lazy"
                    data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_main_image_4dr%22%2C%22to%22%3A%22src%22%7D%5D"
                    src="~/assets/image/656472ee152de80a68a3e0a9_s%201%20(1).png"
                  />
                  <script type="application/json" class="w-json">
                    {
                      "items": [
                        {
                          "url": "https://cdn.prod.website-files.com/6555b9ad0583113ca12065af/656472ee152de80a68a3e0a9_s%201%20(1).png",
                          "type": "image"
                        }
                      ],
                      "group": "Product Collection"
                    }
                  </script></a
                >
                <div class="w-dyn-list w-dyn-items-repeater-ref">
                  <script
                    type="text/x-wf-template"
                    id="wf-template-0193dc13-b81a-936b-96dd-ee435b6aa688"
                  >
                    %3Cdiv%20role%3D%22listitem%22%20class%3D%22w-dyn-item%20w-dyn-repeater-item%22%3E%3Ca%20href%3D%22%23%22%20data-wf-sku-bindings%3D%22%255B%257B%2522from%2522%253A%2522f_more_images_4dr%255B%255D%2522%252C%2522to%2522%253A%2522media%2522%257D%255D%22%20class%3D%22image-chart-wrap%20w-inline-block%20w-lightbox%22%3E%3Cimg%20alt%3D%22%22%20loading%3D%22lazy%22%20data-wf-sku-bindings%3D%22%255B%257B%2522from%2522%253A%2522f_more_images_4dr%255B%255D%2522%252C%2522to%2522%253A%2522src%2522%257D%255D%22%20src%3D%22https%3A%2F%2Fassets-global.website-files.com%2F6555b9ad0583113ca12065af%2F65647285743589fcb11427b2_s%25201.png%22%2F%3E%3Cscript%20type%3D%22application%2Fjson%22%20class%3D%22w-json%22%3E%7B%0A%20%20%22items%22%3A%20%5B%0A%20%20%20%20%7B%0A%20%20%20%20%20%20%22url%22%3A%20%22https%3A%2F%2Fuploads-ssl.webflow.com%2F6555b9ad0583113ca12065af%2F65647285743589fcb11427b2_s%25201.png%22%2C%0A%20%20%20%20%20%20%22type%22%3A%20%22image%22%0A%20%20%20%20%7D%0A%20%20%5D%2C%0A%20%20%22group%22%3A%20%22Product%20Collection%22%0A%7D%3C%2Fscript%3E%3C%2Fa%3E%3C%2Fdiv%3E
                  </script>
                  <div
                    role="list"
                    class="lightbox-list w-dyn-items"
                    data-wf-collection="f_more_images_4dr"
                    data-wf-template-id="wf-template-0193dc13-b81a-936b-96dd-ee435b6aa688"
                  >
                    <div role="listitem" class="w-dyn-item w-dyn-repeater-item">
                      <a
                        href="#"
                        data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_more_images_4dr%5B%5D%22%2C%22to%22%3A%22media%22%7D%5D"
                        class="image-chart-wrap w-inline-block w-lightbox"
                        ><img
                          alt=""
                          loading="lazy"
                          data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_more_images_4dr%5B%5D%22%2C%22to%22%3A%22src%22%7D%5D"
                          src="~/assets/image/65647285743589fcb11427b2_s%201.png"
                        />
                        <script type="application/json" class="w-json">
                          {
                            "items": [
                              {
                                "url": "https://assets-global.website-files.com/6555b9ad0583113ca12065af/65647285743589fcb11427b2_s%201.png",
                                "type": "image"
                              }
                            ],
                            "group": "Product Collection"
                          }
                        </script></a
                      >
                    </div>
                  </div>
                  <div class="empty-state w-dyn-hide w-dyn-empty">
                    <div>No items found.</div>
                  </div>
                </div>
              </div>
              <div
                id="w-node-_946d32da-0446-4078-4033-be854fee3513-e9bc7c47"
                class="product-detail-top-description-wrap"
              >
                <div>
                  <div>
                    <h1 class="extraheading-h2">Green Man Jacket</h1>
                    <div class="product-item-detail-info-wrap">
                      <img
                        src="https://assets-global.website-files.com/655334388fc47d51f723afb0/6558338b89839ce2e01506c4_star.svg"
                        loading="lazy"
                        alt="Ratting-Icon"
                      />
                      <p class="text-size-sm">4.8</p>
                      <div class="dot bg-dgrey01"></div>
                      <p class="text-size-sm">1500</p>
                      <p class="text-size-sm">Sold</p>
                    </div>
                    <h1
                      data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_price_%22%2C%22to%22%3A%22innerHTML%22%7D%5D"
                      class="extraheading-h4 text-darkgreen3"
                    >
                      $ 139.00 USD
                    </h1>
                  </div>
                </div>
                <p class="text-grey01">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit ut
                  aliquam, purus sit amet luctus venenatis, lectus magna
                  fringilla urna, porttitor rhoncus dolor purus non enim
                  praesent elementum facilisis leo, vel fringilla est
                  ullamcorper eget nulla facilisi etiam dignissim diam quis enim
                  lobortis scelerisque fermentum dui faucibus in ornare quam
                  viverra orci sagittis eu volutpat odio facilisis mauris sit
                  amet massa vitae tortor.
                </p>
                <div class="divider bg-dgrey01"></div>
                <div>
                  <h1 class="heading-h2">Product Variant:</h1>
                  <div>
                    <form
                      data-node-type="commerce-add-to-cart-form"
                      data-commerce-sku-id="6564731c43c676dda57e8f5d"
                      data-loading-text="Adding to cart..."
                      data-commerce-product-id="65647318735fcfeb7ae7771b"
                      class="w-commerce-commerceaddtocartform default-state"
                    >
                      <div
                        data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_sku_values_3dr%22%2C%22to%22%3A%22optionValues%22%7D%5D"
                        data-commerce-product-sku-values="%7B%22d5de60a318e0b907dfff67f118c22820%22%3A%22f3fe7a36f790ffdc027adebbdbf46766%22%7D"
                        data-node-type="commerce-add-to-cart-option-list"
                        data-commerce-product-id="65647318735fcfeb7ae7771b"
                        data-preselect-default-variant="false"
                        class="option-list"
                        role="group"
                      >
                        <div role="group">
                          <label
                            data-wf-bindings="%5B%7B%22innerHTML%22%3A%7B%22type%22%3A%22PlainText%22%2C%22filter%22%3A%7B%22type%22%3A%22identity%22%2C%22params%22%3A%5B%5D%7D%2C%22dataPath%22%3A%22name%22%7D%7D%5D"
                            class="field-label"
                            >Color</label
                          >
                          <div class="field select">
                            <select
                              id="option-set-d5de60a318e0b907dfff67f118c22820"
                              data-node-type="commerce-add-to-cart-option-select"
                              data-commerce-option-set-id="d5de60a318e0b907dfff67f118c22820"
                              class="field-select w-select"
                              required=""
                            >
                              <option value="" selected="">Select Color</option>
                              <option value="f3fe7a36f790ffdc027adebbdbf46766">
                                Black
                              </option>
                              <option value="0e578940278a7cafc830e788b2cc4c7e">
                                Green
                              </option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div>
                        <label
                          for="quantity-30f752d07257efd3a765098f473169b5"
                          class="field-label"
                          >Quantity</label
                        ><input
                          type="number"
                          pattern="^[0-9]+$"
                          inputmode="numeric"
                          id="quantity-30f752d07257efd3a765098f473169b5"
                          name="commerce-add-to-cart-quantity-input"
                          min="1"
                          class="w-commerce-commerceaddtocartquantityinput field"
                          value="1"
                        />
                      </div>
                      <div class="button-wrap">
                        <a
                          data-node-type="commerce-buy-now-button"
                          data-default-text="Buy now"
                          data-subscription-text="Subscribe now"
                          aria-busy="false"
                          aria-haspopup="false"
                          class="w-commerce-commercebuynowbutton button"
                          href="../checkout.html"
                          >Buy now</a
                        ><input
                          type="submit"
                          data-node-type="commerce-add-to-cart-button"
                          data-loading-text="Adding to cart..."
                          aria-busy="false"
                          aria-haspopup="dialog"
                          class="w-commerce-commerceaddtocartbutton button secondary"
                          value="Add to Cart"
                        />
                      </div>
                    </form>
                    <div
                      style="display: none"
                      class="w-commerce-commerceaddtocartoutofstock empty-state"
                      tabindex="0"
                    >
                      <div>This product is out of stock.</div>
                    </div>
                    <div
                      aria-live="assertive"
                      data-node-type="commerce-add-to-cart-error"
                      style="display: none"
                      class="w-commerce-commerceaddtocarterror"
                    >
                      <div
                        data-node-type="commerce-add-to-cart-error"
                        data-w-add-to-cart-quantity-error="Product is not available in this quantity."
                        data-w-add-to-cart-general-error="Something went wrong when adding this item to the cart."
                        data-w-add-to-cart-mixed-cart-error="You can’t purchase another product with a subscription."
                        data-w-add-to-cart-buy-now-error="Something went wrong when trying to purchase this item."
                        data-w-add-to-cart-checkout-disabled-error="Checkout is disabled on this site."
                        data-w-add-to-cart-select-all-options-error="Please select an option in each set."
                      >
                        Product is not available in this quantity.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section-product-detail-bottom">
        <div class="padding-global">
          <div class="container">
            <div class="product-detail-bottom-wrap">
              <div
                data-animation="default"
                class="navbar-product w-nav"
                data-easing2="ease"
                data-easing="ease"
                data-collapse="none"
                role="banner"
                data-no-scroll="1"
                data-duration="400"
                data-doc-height="1"
              >
                <div class="container-nav-product w-container">
                  <nav role="navigation" class="nav-product-menu w-nav-menu">
                    <a href="#Detail" class="product-nav-link w-nav-link"
                      >Detail Product</a
                    ><a href="#Merchant" class="product-nav-link w-nav-link"
                      >Merchant</a
                    ><a href="#Reviews" class="product-nav-link w-nav-link"
                      >Reviews</a
                    ><a href="#Related" class="product-nav-link w-nav-link"
                      >Related Product</a
                    >
                  </nav>
                </div>
              </div>
              <div id="Detail">
                <div class="detail-product-header">
                  <h1 class="extraheading-h4">Green Man Jacket</h1>
                  <p class="text-grey01">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit ut
                    aliquam, purus sit amet luctus venenatis, lectus magna
                    fringilla urna, porttitor rhoncus dolor purus non enim
                    praesent elementum facilisis leo, vel fringilla est
                    ullamcorper eget nulla facilisi etiam dignissim diam quis
                    enim lobortis scelerisque fermentum dui faucibus in ornare
                    quam viverra orci sagittis eu volutpat odio facilisis mauris
                    sit amet massa vitae tortor.
                  </p>
                </div>
                <div class="detail-product-desc">
                  <div class="detail-product-item">
                    <h1 class="heading-h2">Specification</h1>
                    <div class="specification-list">
                      <div
                        id="w-node-_9cee4a7a-80ff-6b63-7762-d2958ec6e487-e9bc7c47"
                        class="specification-item"
                      >
                        <p>Brand</p>
                      </div>
                      <div
                        id="w-node-b0679ae2-1342-022c-213e-5a9700a4447b-e9bc7c47"
                        class="specification-item"
                      >
                        <p class="text-black text-weight-medium">
                          Pull&amp;Bear
                        </p>
                      </div>
                      <div
                        id="w-node-_5d29762c-a644-cbc0-1ce1-402e03cca2ed-e9bc7c47"
                        class="specification-item-white"
                      >
                        <p>Resolution</p>
                      </div>
                      <div
                        id="w-node-f967be48-8721-c35f-5864-9c50c6658338-e9bc7c47"
                        class="specification-item-white"
                      >
                        <p class="text-black text-weight-medium">
                          100-25600 dpi
                        </p>
                      </div>
                      <div
                        id="w-node-ab70ae5e-d584-64bb-be9a-d050d399fdf0-e9bc7c47"
                        class="specification-item"
                      >
                        <p>Max Acceleration</p>
                      </div>
                      <div
                        id="w-node-_10e60106-8fdb-2f04-22bd-b293b4e20caa-e9bc7c47"
                        class="specification-item"
                      >
                        <p class="text-black text-weight-medium">&gt;300 IPS</p>
                      </div>
                      <div
                        id="w-node-_2fda99e4-d998-5a52-327e-8784bec041bc-e9bc7c47"
                        class="specification-item-white"
                      >
                        <p>Max Speed</p>
                      </div>
                      <div
                        id="w-node-_4fb0c298-8439-0e77-6fdb-d852ed836192-e9bc7c47"
                        class="specification-item-white"
                      >
                        <p class="text-black text-weight-medium">&gt;40G2</p>
                      </div>
                    </div>
                  </div>
                  <div class="detail-product-item">
                    <h1 class="heading-h2">In The Box</h1>
                    <div class="in-the-box-list">
                      <div class="in-the-box-item">
                        <img
                          loading="lazy"
                          src="https://assets-global.website-files.com/655334388fc47d51f723afb0/65608a86fb58b0583f607a5c_tick-circle.svg"
                          alt="tick-circle.svg
"
                        />
                        <p class="text-weight-medium">Lorem ipsum dolor sit.</p>
                      </div>
                      <div class="in-the-box-item">
                        <img
                          loading="lazy"
                          src="https://assets-global.website-files.com/655334388fc47d51f723afb0/65608a86fb58b0583f607a5c_tick-circle.svg"
                          alt="tick-circle.svg
"
                        />
                        <p class="text-weight-medium">
                          Mauris aliquet faucibus.
                        </p>
                      </div>
                      <div class="in-the-box-item">
                        <img
                          loading="lazy"
                          src="https://assets-global.website-files.com/655334388fc47d51f723afb0/65608a86fb58b0583f607a5c_tick-circle.svg"
                          alt="tick-circle.svg
"
                        />
                        <p class="text-weight-medium">Posuere enim mi.</p>
                      </div>
                      <div class="in-the-box-item">
                        <img
                          loading="lazy"
                          src="https://assets-global.website-files.com/655334388fc47d51f723afb0/65608a86fb58b0583f607a5c_tick-circle.svg"
                          alt="tick-circle.svg
"
                        />
                        <p class="text-weight-medium">
                          Dui faucibus in ornare.
                        </p>
                      </div>
                      <div class="in-the-box-item">
                        <img
                          loading="lazy"
                          src="https://assets-global.website-files.com/655334388fc47d51f723afb0/65608a86fb58b0583f607a5c_tick-circle.svg"
                          alt="tick-circle.svg
"
                        />
                        <p class="text-weight-medium">
                          Lorem id consectetur neque congue tristique.
                        </p>
                      </div>
                      <div class="in-the-box-item">
                        <img
                          loading="lazy"
                          src="https://assets-global.website-files.com/655334388fc47d51f723afb0/65608a86fb58b0583f607a5c_tick-circle.svg"
                          alt="tick-circle.svg
"
                        />
                        <p class="text-weight-medium">
                          Porttitor rhoncus dolor purus.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="detail-product-item">
                    <h1 class="heading-h2">System Required</h1>
                    <div class="system-required-list">
                      <div class="system-required-item">
                        <p class="text-grey01">-</p>
                        <p class="text-grey01">Commodo eget ligula duis</p>
                      </div>
                      <div class="system-required-item">
                        <p class="text-grey01">-</p>
                        <p class="text-grey01">Eget ligula duis</p>
                      </div>
                      <div class="system-required-item">
                        <p class="text-grey01">-</p>
                        <p class="text-grey01">Ligula duis</p>
                      </div>
                      <div class="system-required-item">
                        <p class="text-grey01">-</p>
                        <p class="text-grey01">Duis faucibu</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="divider bg-dgrey01"></div>
              <div id="Merchant">
                <div class="merchant-information-wrap">
                  <h1 class="extraheading-h6">Merchant Information</h1>
                  <div class="merchant-information-header">
                    <div class="merchant-information-desc">
                      <img
                        loading="lazy"
                        src="~/assets/image/65647285743589fcb11427b2_s%201.png"
                        alt=""
                        class="merchant-information-image"
                      />
                      <div class="merchant-information-text-wrap">
                        <div>
                          <h1 class="heading-h3">Pull &amp; Bear</h1>
                          <p class="text-grey01">Jakarta Pusat</p>
                        </div>
                        <div class="merchant-information-label">
                          <p class="merchant-label">Top Rated Merchant</p>
                          <p class="merchant-label">Best Merchant</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="divider bg-dgrey01"></div>
              <div id="Reviews">
                <div class="review-wrap">
                  <h1 class="extraheading-h6">Product Reviews</h1>
                  <div class="review-detail-wrap">
                    <div>
                      <div class="review-detail-container">
                        <div class="filter-wrap">
                          <h1 class="extraheading-h6">Reviews Filter</h1>
                          <div class="divider bg-dgrey01"></div>
                          <div class="filter-accordion-wrap">
                            <a
                              data-w-id="c5825444-669b-e49a-2439-8d8285cb2464"
                              href="#"
                              class="filter-accordion-head w-inline-block"
                              ><div class="filter-accordion-head-label-wicon">
                                <h1 class="heading-h3">Rating</h1>
                                <img
                                  loading="lazy"
                                  src="https://assets-global.website-files.com/655334388fc47d51f723afb0/6558338b89839ce2e01506c4_star.svg"
                                  alt="Ratting-Icon"
                                />
                              </div>
                              <img
                                loading="lazy"
                                src="https://assets-global.website-files.com/655334388fc47d51f723afb0/655d9148c2a73024ef9ab5ca_arrow-up.svg"
                                alt="arrow"
                            /></a>
                            <div class="filter-accordion-body">
                              <div class="filter-form-block w-form">
                                <form
                                  id="wf-form--4"
                                  name="wf-form--4"
                                  data-name=""
                                  method="get"
                                  data-wf-page-id="655f93aa63c9c30ae9bc7c47"
                                  data-wf-element-id="c5825444-669b-e49a-2439-8d8285cb246a"
                                >
                                  <div class="filter-checbox-wrap">
                                    <label
                                      class="w-checkbox filter-checkbox-field"
                                      ><div
                                        class="w-checkbox-input w-checkbox-input--inputType-custom filter-checkbox"
                                      ></div>
                                      <input
                                        type="checkbox"
                                        name="checkbox-5"
                                        data-name="Checkbox 5"
                                        style="
                                          opacity: 0;
                                          position: absolute;
                                          z-index: -1;
                                        "
                                      /><span
                                        class="filter-checkbox-label text-grey01 w-form-label"
                                        for="checkbox-5"
                                        >5</span
                                      ></label
                                    ><label
                                      class="w-checkbox filter-checkbox-field"
                                      ><div
                                        class="w-checkbox-input w-checkbox-input--inputType-custom filter-checkbox"
                                      ></div>
                                      <input
                                        type="checkbox"
                                        name="checkbox-4"
                                        data-name="Checkbox 4"
                                        style="
                                          opacity: 0;
                                          position: absolute;
                                          z-index: -1;
                                        "
                                      /><span
                                        class="filter-checkbox-label text-grey01 w-form-label"
                                        for="checkbox-4"
                                        >4</span
                                      ></label
                                    ><label
                                      class="w-checkbox filter-checkbox-field"
                                      ><div
                                        class="w-checkbox-input w-checkbox-input--inputType-custom filter-checkbox"
                                      ></div>
                                      <input
                                        type="checkbox"
                                        name="checkbox-3"
                                        data-name="Checkbox 3"
                                        style="
                                          opacity: 0;
                                          position: absolute;
                                          z-index: -1;
                                        "
                                      /><span
                                        class="filter-checkbox-label text-grey01 w-form-label"
                                        for="checkbox-3"
                                        >3</span
                                      ></label
                                    ><label
                                      class="w-checkbox filter-checkbox-field"
                                      ><div
                                        class="w-checkbox-input w-checkbox-input--inputType-custom filter-checkbox"
                                      ></div>
                                      <input
                                        type="checkbox"
                                        name="checkbox-2"
                                        data-name="Checkbox 2"
                                        style="
                                          opacity: 0;
                                          position: absolute;
                                          z-index: -1;
                                        "
                                      /><span
                                        class="filter-checkbox-label text-grey01 w-form-label"
                                        for="checkbox-2"
                                        >2</span
                                      ></label
                                    ><label
                                      class="w-checkbox filter-checkbox-field"
                                      ><div
                                        class="w-checkbox-input w-checkbox-input--inputType-custom filter-checkbox"
                                      ></div>
                                      <input
                                        type="checkbox"
                                        name="checkbox-2"
                                        data-name="Checkbox 2"
                                        style="
                                          opacity: 0;
                                          position: absolute;
                                          z-index: -1;
                                        "
                                      /><span
                                        class="filter-checkbox-label text-grey01 w-form-label"
                                        for="checkbox-2"
                                        >1</span
                                      ></label
                                    >
                                  </div>
                                </form>
                                <div class="w-form-done">
                                  <div>
                                    Thank you! Your submission has been
                                    received!
                                  </div>
                                </div>
                                <div class="w-form-fail">
                                  <div>
                                    Oops! Something went wrong while submitting
                                    the form.
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="divider bg-dgrey01"></div>
                          <div class="filter-accordion-wrap">
                            <a
                              data-w-id="c5825444-669b-e49a-2439-8d8285cb2484"
                              href="#"
                              class="filter-accordion-head w-inline-block"
                              ><h1 class="heading-h3">Review Topics</h1>
                              <img
                                loading="lazy"
                                src="https://assets-global.website-files.com/655334388fc47d51f723afb0/655d9148c2a73024ef9ab5ca_arrow-up.svg"
                                alt="arrow"
                            /></a>
                            <div class="filter-accordion-body">
                              <div class="filter-form-block w-form">
                                <form
                                  id="wf-form--3"
                                  name="wf-form--3"
                                  data-name=""
                                  method="get"
                                  data-wf-page-id="655f93aa63c9c30ae9bc7c47"
                                  data-wf-element-id="c5825444-669b-e49a-2439-8d8285cb248a"
                                >
                                  <div class="filter-checbox-wrap">
                                    <label
                                      class="w-checkbox filter-checkbox-field"
                                      ><div
                                        class="w-checkbox-input w-checkbox-input--inputType-custom filter-checkbox"
                                      ></div>
                                      <input
                                        type="checkbox"
                                        name="checkbox-5"
                                        data-name="Checkbox 5"
                                        style="
                                          opacity: 0;
                                          position: absolute;
                                          z-index: -1;
                                        "
                                      /><span
                                        class="filter-checkbox-label text-grey01 w-form-label"
                                        for="checkbox-5"
                                        >Product Quality</span
                                      ></label
                                    ><label
                                      class="w-checkbox filter-checkbox-field"
                                      ><div
                                        class="w-checkbox-input w-checkbox-input--inputType-custom filter-checkbox"
                                      ></div>
                                      <input
                                        type="checkbox"
                                        name="checkbox-4"
                                        data-name="Checkbox 4"
                                        style="
                                          opacity: 0;
                                          position: absolute;
                                          z-index: -1;
                                        "
                                      /><span
                                        class="filter-checkbox-label text-grey01 w-form-label"
                                        for="checkbox-4"
                                        >Product Price</span
                                      ></label
                                    ><label
                                      class="w-checkbox filter-checkbox-field"
                                      ><div
                                        class="w-checkbox-input w-checkbox-input--inputType-custom filter-checkbox"
                                      ></div>
                                      <input
                                        type="checkbox"
                                        name="checkbox-3"
                                        data-name="Checkbox 3"
                                        style="
                                          opacity: 0;
                                          position: absolute;
                                          z-index: -1;
                                        "
                                      /><span
                                        class="filter-checkbox-label text-grey01 w-form-label"
                                        for="checkbox-3"
                                        >Seller Services</span
                                      ></label
                                    ><label
                                      class="w-checkbox filter-checkbox-field"
                                      ><div
                                        class="w-checkbox-input w-checkbox-input--inputType-custom filter-checkbox"
                                      ></div>
                                      <input
                                        type="checkbox"
                                        name="checkbox-2"
                                        data-name="Checkbox 2"
                                        style="
                                          opacity: 0;
                                          position: absolute;
                                          z-index: -1;
                                        "
                                      /><span
                                        class="filter-checkbox-label text-grey01 w-form-label"
                                        for="checkbox-2"
                                        >Shipment</span
                                      ></label
                                    ><label
                                      class="w-checkbox filter-checkbox-field"
                                      ><div
                                        class="w-checkbox-input w-checkbox-input--inputType-custom filter-checkbox"
                                      ></div>
                                      <input
                                        type="checkbox"
                                        name="checkbox-2"
                                        data-name="Checkbox 2"
                                        style="
                                          opacity: 0;
                                          position: absolute;
                                          z-index: -1;
                                        "
                                      /><span
                                        class="filter-checkbox-label text-grey01 w-form-label"
                                        for="checkbox-2"
                                        >Match with Description</span
                                      ></label
                                    >
                                  </div>
                                </form>
                                <div class="w-form-done">
                                  <div>
                                    Thank you! Your submission has been
                                    received!
                                  </div>
                                </div>
                                <div class="w-form-fail">
                                  <div>
                                    Oops! Something went wrong while submitting
                                    the form.
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="prodct-review-grid-wrap">
                          <h1 class="extraheading-h6">Review Lists</h1>
                          <div class="review-button-wrap">
                            <div class="review-filter-button-wrap">
                              <a href="#" class="review-toggle active w-button"
                                >All Reviews</a
                              ><a href="#" class="review-toggle w-button"
                                >With Photo &amp; Video</a
                              ><a href="#" class="review-toggle w-button"
                                >With Description</a
                              >
                            </div>
                            <div>
                              <a
                                data-w-id="5433e134-c56f-310d-4352-f0160336117a"
                                href="#"
                                class="prodct-all-filter-toggle w-inline-block"
                                ><img
                                  loading="lazy"
                                  src="https://assets-global.website-files.com/655334388fc47d51f723afb0/655daacb54a0826a2892289b_filter.svg"
                                  alt="filter-toggle"
                                  class="prodct-all-filter-toggle-icon"
                              /></a>
                            </div>
                          </div>
                          <div>
                            <div class="w-dyn-list">
                              <div class="empty-state w-dyn-empty">
                                <div>No items found.</div>
                              </div>
                              <div
                                role="navigation"
                                aria-label="List"
                                class="w-pagination-wrapper"
                              ></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="divider bg-dgrey01"></div>
              <div id="Related">
                <div class="section-title">
                  <h1 class="extraheading-h6">Related Product</h1>
                  <div class="w-dyn-list">
                    <div role="list" class="w-dyn-items">
                      <div role="listitem" class="w-dyn-item">
                        <a
                          href="../category/fashion.html"
                          class="button secondary w-button"
                          >View Detail</a
                        >
                      </div>
                    </div>
                  </div>
                </div>
                <div class="w-dyn-list">
                  <div role="list" class="prodct-grid w-dyn-items">
                    <div role="listitem" class="w-dyn-item">
                      <a
                        href="shoes-jurd-high-69.html"
                        class="product-item w-inline-block"
                        ><div class="product-item-image-wrap">
                          <img
                            data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_main_image_4dr%22%2C%22to%22%3A%22src%22%7D%5D"
                            loading="lazy"
                            alt=""
                            src="~/assets/image/65eea651ca00890dd41e8b63_hector-achautla-NCf_mwCXq4s-unsplash.jpg"
                            sizes="(max-width: 479px) 29vw, (max-width: 767px) 35vw, (max-width: 991px) 120px, (max-width: 1439px) 17vw, 21vw"
                            srcset="
                              https://assets-global.website-files.com/6555b9ad0583113ca12065af/65eea651ca00890dd41e8b63_hector-achautla-NCf_mwCXq4s-unsplash-p-500.jpg   500w,
                              https://assets-global.website-files.com/6555b9ad0583113ca12065af/65eea651ca00890dd41e8b63_hector-achautla-NCf_mwCXq4s-unsplash-p-800.jpg   800w,
                              https://assets-global.website-files.com/6555b9ad0583113ca12065af/65eea651ca00890dd41e8b63_hector-achautla-NCf_mwCXq4s-unsplash-p-1080.jpg 1080w,
                              https://assets-global.website-files.com/6555b9ad0583113ca12065af/65eea651ca00890dd41e8b63_hector-achautla-NCf_mwCXq4s-unsplash-p-1600.jpg 1600w,
                              https://assets-global.website-files.com/6555b9ad0583113ca12065af/65eea651ca00890dd41e8b63_hector-achautla-NCf_mwCXq4s-unsplash-p-2000.jpg 2000w,
                              https://assets-global.website-files.com/6555b9ad0583113ca12065af/65eea651ca00890dd41e8b63_hector-achautla-NCf_mwCXq4s-unsplash-p-2600.jpg 2600w,
                              https://assets-global.website-files.com/6555b9ad0583113ca12065af/65eea651ca00890dd41e8b63_hector-achautla-NCf_mwCXq4s-unsplash-p-3200.jpg 3200w,
                              https://assets-global.website-files.com/6555b9ad0583113ca12065af/65eea651ca00890dd41e8b63_hector-achautla-NCf_mwCXq4s-unsplash.jpg        4000w
                            "
                            class="product-image"
                          />
                        </div>
                        <div class="product-item-description-wrap">
                          <div>
                            <div class="product-item-detail-title-wrap">
                              <p class="text-weight-semibold">
                                Shoes Jurd High 69
                              </p>
                              <p
                                data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_price_%22%2C%22to%22%3A%22innerHTML%22%7D%5D"
                                class="text-weight-semibold text-darkgreen3"
                              >
                                $ 269.00 USD
                              </p>
                            </div>
                            <p class="text-size-sm text-grey01">
                              Jakarta Pusat
                            </p>
                          </div>
                          <div class="product-item-detail-info-wrap">
                            <img
                              loading="lazy"
                              src="https://assets-global.website-files.com/655334388fc47d51f723afb0/6558338b89839ce2e01506c4_star.svg"
                              alt="Ratting-Icon"
                            />
                            <p class="text-size-sm">4.9</p>
                            <div class="dot bg-dgrey01"></div>
                            <p class="text-size-sm">3420</p>
                            <p class="text-size-sm">Sold</p>
                          </div>
                        </div></a
                      >
                    </div>
                    <div role="listitem" class="w-dyn-item">
                      <a
                        href="green-man-jacket.html"
                        aria-current="page"
                        class="product-item w-inline-block w--current"
                        ><div class="product-item-image-wrap">
                          <img
                            data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_main_image_4dr%22%2C%22to%22%3A%22src%22%7D%5D"
                            loading="lazy"
                            alt=""
                            src="~/assets/image/656472ee152de80a68a3e0a9_s%201%20(1).png"
                            class="product-image"
                          />
                        </div>
                        <div class="product-item-description-wrap">
                          <div>
                            <div class="product-item-detail-title-wrap">
                              <p class="text-weight-semibold">
                                Green Man Jacket
                              </p>
                              <p
                                data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_price_%22%2C%22to%22%3A%22innerHTML%22%7D%5D"
                                class="text-weight-semibold text-darkgreen3"
                              >
                                $ 139.00 USD
                              </p>
                            </div>
                            <p class="text-size-sm text-grey01">
                              Jakarta Pusat
                            </p>
                          </div>
                          <div class="product-item-detail-info-wrap">
                            <img
                              loading="lazy"
                              src="https://assets-global.website-files.com/655334388fc47d51f723afb0/6558338b89839ce2e01506c4_star.svg"
                              alt="Ratting-Icon"
                            />
                            <p class="text-size-sm">4.8</p>
                            <div class="dot bg-dgrey01"></div>
                            <p class="text-size-sm">1500</p>
                            <p class="text-size-sm">Sold</p>
                          </div>
                        </div></a
                      >
                    </div>
                    <div role="listitem" class="w-dyn-item">
                      <a
                        href="lenny-t-shirt.html"
                        class="product-item w-inline-block"
                        ><div class="product-item-image-wrap">
                          <img
                            data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_main_image_4dr%22%2C%22to%22%3A%22src%22%7D%5D"
                            loading="lazy"
                            alt=""
                            src="~/assets/image/6569a2dda8d446f6b8d0700e_no-revisions-kWVImL5QxJI-unsplash.png"
                            class="product-image"
                          />
                        </div>
                        <div class="product-item-description-wrap">
                          <div>
                            <div class="product-item-detail-title-wrap">
                              <p class="text-weight-semibold">Lenny T-Shirt</p>
                              <p
                                data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_price_%22%2C%22to%22%3A%22innerHTML%22%7D%5D"
                                class="text-weight-semibold text-darkgreen3"
                              >
                                $ 49.00 USD
                              </p>
                            </div>
                            <p class="text-size-sm text-grey01">
                              Jakarta Pusat
                            </p>
                          </div>
                          <div class="product-item-detail-info-wrap">
                            <img
                              loading="lazy"
                              src="https://assets-global.website-files.com/655334388fc47d51f723afb0/6558338b89839ce2e01506c4_star.svg"
                              alt="Ratting-Icon"
                            />
                            <p class="text-size-sm">4.6</p>
                            <div class="dot bg-dgrey01"></div>
                            <p class="text-size-sm">4520</p>
                            <p class="text-size-sm">Sold</p>
                          </div>
                        </div></a
                      >
                    </div>
                    <div role="listitem" class="w-dyn-item">
                      <a
                        href="shirt-clothing-lenny-z2.html"
                        class="product-item w-inline-block"
                        ><div class="product-item-image-wrap">
                          <img
                            data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_main_image_4dr%22%2C%22to%22%3A%22src%22%7D%5D"
                            loading="lazy"
                            alt=""
                            src="~/assets/image/65eea7110a440ab8f8ffd94f_md-salman-tWOz2_EK5EQ-unsplash.jpg"
                            sizes="(max-width: 479px) 29vw, (max-width: 767px) 35vw, (max-width: 991px) 120px, (max-width: 1439px) 17vw, 21vw"
                            srcset="
                              https://assets-global.website-files.com/6555b9ad0583113ca12065af/65eea7110a440ab8f8ffd94f_md-salman-tWOz2_EK5EQ-unsplash-p-500.jpg   500w,
                              https://assets-global.website-files.com/6555b9ad0583113ca12065af/65eea7110a440ab8f8ffd94f_md-salman-tWOz2_EK5EQ-unsplash-p-800.jpg   800w,
                              https://assets-global.website-files.com/6555b9ad0583113ca12065af/65eea7110a440ab8f8ffd94f_md-salman-tWOz2_EK5EQ-unsplash-p-1080.jpg 1080w,
                              https://assets-global.website-files.com/6555b9ad0583113ca12065af/65eea7110a440ab8f8ffd94f_md-salman-tWOz2_EK5EQ-unsplash-p-1600.jpg 1600w,
                              https://assets-global.website-files.com/6555b9ad0583113ca12065af/65eea7110a440ab8f8ffd94f_md-salman-tWOz2_EK5EQ-unsplash-p-2000.jpg 2000w,
                              https://assets-global.website-files.com/6555b9ad0583113ca12065af/65eea7110a440ab8f8ffd94f_md-salman-tWOz2_EK5EQ-unsplash-p-2600.jpg 2600w,
                              https://assets-global.website-files.com/6555b9ad0583113ca12065af/65eea7110a440ab8f8ffd94f_md-salman-tWOz2_EK5EQ-unsplash.jpg        3000w
                            "
                            class="product-image"
                          />
                        </div>
                        <div class="product-item-description-wrap">
                          <div>
                            <div class="product-item-detail-title-wrap">
                              <p class="text-weight-semibold">
                                Shirt Clothing Lenny Z2
                              </p>
                              <p
                                data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_price_%22%2C%22to%22%3A%22innerHTML%22%7D%5D"
                                class="text-weight-semibold text-darkgreen3"
                              >
                                $ 49.00 USD
                              </p>
                            </div>
                            <p class="text-size-sm text-grey01">
                              Jakarta Pusat
                            </p>
                          </div>
                          <div class="product-item-detail-info-wrap">
                            <img
                              loading="lazy"
                              src="https://assets-global.website-files.com/655334388fc47d51f723afb0/6558338b89839ce2e01506c4_star.svg"
                              alt="Ratting-Icon"
                            />
                            <p class="text-size-sm">4.6</p>
                            <div class="dot bg-dgrey01"></div>
                            <p class="text-size-sm">4520</p>
                            <p class="text-size-sm">Sold</p>
                          </div>
                        </div></a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>