<div class="section-top">
    <div class="padding-global">
        <div class="container">
            <div class="top-section-wrap">
                <h1 class="extraheading-h3">The Lenny Blog</h1>
                <p class="text-grey01">
                    All things recruiting: real stories, best practices
                </p>
            </div>
        </div>
    </div>
</div>
<div class="section-bottom">
    <div class="padding-global">
        <div class="container">
            <div class="section-article-wrap">
                <div class="w-dyn-list">
                    <div role="list" class="w-dyn-items">
                        <div role="listitem" class="w-dyn-item">
                            <div class="article-highlight">
                                <div class="article-highlight-img-wrap">
                                    <img alt=""
                                         loading="lazy"
                                         src="~/assets/image/6555b9b707f065dd00bea851_image7.jpg"
                                         class="article-highlight-img" />
                                </div>
                                <div class="article-highlight-text-wrap">
                                    <div class="article-highlight-text">
                                        <h1 class="extraheading-h6">
                                            5 Principles Of Effective Web Design
                                        </h1>
                                    </div>
                                    <p class="text-size-md text-grey01">
                                        Lorem ipsum dolor sit amet consectetur. Arcu
                                        pellentesque etiam scelerisque pharetra id. Maecenas
                                        diam eu amet cras
                                    </p>
                                    <a href="articles/5-principles-of-effective-web-design.html"
                                       class="link-wrap w-inline-block">
                                        <h1 class="heading-h3">Read More</h1>
                                        <img src="https://assets-global.website-files.com/655334388fc47d51f723afb0/6555c2e4c6a7b45c717b5c92_arrow-right.svg"
                                             loading="lazy"
                                             alt="arrow-right" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-dyn-list">
                    <div role="list" class="article-list w-dyn-items">
                        <div role="listitem" class="w-dyn-item">
                            <div class="article-item">
                                <div class="article-image-wrap">
                                    <img alt=""
                                         loading="lazy"
                                         src="~/assets/image/6555b9b707f065dd00bea84b_image8.jpg"
                                         class="article-image" />
                                </div>
                                <div class="article-text-wrap">
                                    <div class="article-description-wrap">
                                        <a href="tags/lenny-article.html"
                                           class="w-inline-block">
                                            <div class="article-tag-wrap">
                                                <p class="text-size-xs">Lenny Article</p>
                                            </div>
                                        </a>
                                        <p class="text-size-xs text-grey01">
                                            November 24, 2023
                                        </p>
                                    </div>
                                    <h1 class="heading-h2">
                                        Why We Love Webflow (And You Should, Too!)
                                    </h1>
                                    <a href="articles/why-we-love-webflow-and-you-should-too.html"
                                       class="link-block w-inline-block">
                                        <p class="text-size-sm">Read More</p>
                                        <img src="https://assets-global.website-files.com/655334388fc47d51f723afb0/6555c2e4c6a7b45c717b5c92_arrow-right.svg"
                                             loading="lazy"
                                             alt="arrow-right" />
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div role="listitem" class="w-dyn-item">
                            <div class="article-item">
                                <div class="article-image-wrap">
                                    <img alt=""
                                         loading="lazy"
                                         src="~/assets/image/6555b9b707f065dd00bea84e_image17.jpg"
                                         class="article-image" />
                                </div>
                                <div class="article-text-wrap">
                                    <div class="article-description-wrap">
                                        <a href="tags/lenny-article.html"
                                           class="w-inline-block">
                                            <div class="article-tag-wrap">
                                                <p class="text-size-xs">Lenny Article</p>
                                            </div>
                                        </a>
                                        <p class="text-size-xs text-grey01">
                                            November 24, 2023
                                        </p>
                                    </div>
                                    <h1 class="heading-h2">20 Myths About Web Design</h1>
                                    <a href="articles/20-myths-about-web-design.html"
                                       class="link-block w-inline-block">
                                        <p class="text-size-sm">Read More</p>
                                        <img src="https://assets-global.website-files.com/655334388fc47d51f723afb0/6555c2e4c6a7b45c717b5c92_arrow-right.svg"
                                             loading="lazy"
                                             alt="arrow-right" />
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div role="listitem" class="w-dyn-item">
                            <div class="article-item">
                                <div class="article-image-wrap">
                                    <img alt=""
                                         loading="lazy"
                                         src="~/assets/image/6555b9b707f065dd00bea854_image4.jpg"
                                         class="article-image" />
                                </div>
                                <div class="article-text-wrap">
                                    <div class="article-description-wrap">
                                        <a href="tags/lenny-article.html"
                                           class="w-inline-block">
                                            <div class="article-tag-wrap">
                                                <p class="text-size-xs">Lenny Article</p>
                                            </div>
                                        </a>
                                        <p class="text-size-xs text-grey01">
                                            November 24, 2023
                                        </p>
                                    </div>
                                    <h1 class="heading-h2">
                                        7 of the Best Examples of Beautiful Blog Design
                                    </h1>
                                    <a href="articles/7-of-the-best-examples-of-beautiful-blog-design.html"
                                       class="link-block w-inline-block">
                                        <p class="text-size-sm">Read More</p>
                                        <img src="https://assets-global.website-files.com/655334388fc47d51f723afb0/6555c2e4c6a7b45c717b5c92_arrow-right.svg"
                                             loading="lazy"
                                             alt="arrow-right" />
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div role="listitem" class="w-dyn-item">
                            <div class="article-item">
                                <div class="article-image-wrap">
                                    <img alt=""
                                         loading="lazy"
                                         src="~/assets/image/6555b9b707f065dd00bea858_image2.jpg"
                                         class="article-image" />
                                </div>
                                <div class="article-text-wrap">
                                    <div class="article-description-wrap">
                                        <a href="tags/lenny-article.html"
                                           class="w-inline-block">
                                            <div class="article-tag-wrap">
                                                <p class="text-size-xs">Lenny Article</p>
                                            </div>
                                        </a>
                                        <p class="text-size-xs text-grey01">
                                            November 24, 2023
                                        </p>
                                    </div>
                                    <h1 class="heading-h2">
                                        7 Things About Web Design Your Boss Wants To Know
                                    </h1>
                                    <a href="articles/7-things-about-web-design-your-boss-wants-to-know.html"
                                       class="link-block w-inline-block">
                                        <p class="text-size-sm">Read More</p>
                                        <img src="https://assets-global.website-files.com/655334388fc47d51f723afb0/6555c2e4c6a7b45c717b5c92_arrow-right.svg"
                                             loading="lazy"
                                             alt="arrow-right" />
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div role="listitem" class="w-dyn-item">
                            <div class="article-item">
                                <div class="article-image-wrap">
                                    <img alt=""
                                         loading="lazy"
                                         src="~/assets/image/6555b9b707f065dd00bea851_image7.jpg"
                                         class="article-image" />
                                </div>
                                <div class="article-text-wrap">
                                    <div class="article-description-wrap">
                                        <a href="tags/company-news.html"
                                           class="w-inline-block">
                                            <div class="article-tag-wrap">
                                                <p class="text-size-xs">Company News</p>
                                            </div>
                                        </a>
                                        <p class="text-size-xs text-grey01">
                                            November 24, 2023
                                        </p>
                                    </div>
                                    <h1 class="heading-h2">
                                        5 Principles Of Effective Web Design
                                    </h1>
                                    <a href="articles/5-principles-of-effective-web-design.html"
                                       class="link-block w-inline-block">
                                        <p class="text-size-sm">Read More</p>
                                        <img src="https://assets-global.website-files.com/655334388fc47d51f723afb0/6555c2e4c6a7b45c717b5c92_arrow-right.svg"
                                             loading="lazy"
                                             alt="arrow-right" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>