<div class="section-top">
    <div class="padding-global">
        <div class="container">
            <div class="top-section-left-wrap">
                <div class="current-link">
                    <a href="../index.html"
                       class="text-weight-medium link text-darkgreen3">Home</a><img src="https://assets-global.website-files.com/655334388fc47d51f723afb0/655742687d9bf6e0cd5c67ae_arrow-right-grey.svg"
                                                                                    loading="lazy"
                                                                                    alt="arrow-right" /><a href="../article.html"
                                                                                                           class="text-weight-medium link text-darkgreen3">Article</a><img src="https://assets-global.website-files.com/655334388fc47d51f723afb0/655742687d9bf6e0cd5c67ae_arrow-right-grey.svg"
                                                                                                                                                                           loading="lazy"
                                                                                                                                                                           alt="arrow-right" /><a href="../tags/company-news.html"
                                                                                                                                                                                                  class="text-weight-medium link text-darkgreen3">Company News</a><img src="https://assets-global.website-files.com/655334388fc47d51f723afb0/655742687d9bf6e0cd5c67ae_arrow-right-grey.svg"
                                                                                                                                                                                                                                                                       loading="lazy"
                                                                                                                                                                                                                                                                       alt="arrow-right" />
                    <p class="text-weight-medium">
                        5 Principles Of Effective Web Design
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-bottom">
    <div class="padding-global">
        <div class="container">
            <div class="section-article-detail-wrap">
                <img alt=""
                     loading="lazy"
                     src="~/assets/image/6555b9b707f065dd00bea851_image7.jpg"
                     class="section-article-detail-img" />
                <div class="w-layout-grid article-detail-grid">
                    <div id="w-node-_124a4581-b646-23a5-36e5-b75482449260-e9bc7c45"
                         class="related-article">
                        <h1 class="heading-h2">Related Article</h1>
                        <div class="w-dyn-list">
                            <div class="empty-state w-dyn-empty">
                                <div>No items found.</div>
                            </div>
                        </div>
                        <div class="divider"></div>
                        <div class="article-share-wrap">
                            <p>Share to :</p>
                            <div class="article-share-icon-wrap">
                                <a href="#" class="w-inline-block">
                                    <img src="https://assets-global.website-files.com/655334388fc47d51f723afb0/65574a382b5bd0c6a7e14927_Facebook.svg"
                                         loading="lazy"
                                         alt="fb" />
                                </a><a href="#" class="w-inline-block">
                                    <img src="https://assets-global.website-files.com/655334388fc47d51f723afb0/65574a382eb6ab77eb6e6530_Instagram.svg"
                                         loading="lazy"
                                         alt="ig" />
                                </a><a href="#" class="w-inline-block">
                                    <img src="https://assets-global.website-files.com/655334388fc47d51f723afb0/65574a38278aa7e67a2911ad_Twitter.svg"
                                         loading="lazy"
                                         alt="twitter" />
                                </a><a href="#" class="w-inline-block">
                                    <img src="https://assets-global.website-files.com/655334388fc47d51f723afb0/65574a38e0fc12f2e9a7cac7_Whatsapp.svg"
                                         loading="lazy"
                                         alt="wa" />
                                </a>
                            </div>
                        </div>
                    </div>
                    <div id="w-node-_16024152-8913-4cd0-08a6-8baf9c6692f7-e9bc7c45"
                         class="section-article-detail">
                        <h1 class="extraheading-h5">
                            5 Principles Of Effective Web Design
                        </h1>
                        <div class="w-richtext">
                            <p>
                                Lorem ipsum dolor sit amet consectetur. Venenatis sit
                                dignissim vel lacus aliquet massa quam nisi tincidunt.
                                Ante eu ut arcu ultrices vitae libero interdum. Ac tempus
                                elementum suspendisse amet massa nec nunc ullamcorper
                                venenatis. Sed id tortor in nibh tortor commodo. Ultricies
                                et vitae massa ut et mi. Quam amet nulla lobortis rhoncus
                                ipsum pharetra elementum magna vitae. Eget orci feugiat
                                lectus aliquet.Amet pretium dui nunc laoreet sed lorem.
                                Pretium volutpat mauris sit curabitur pellentesque orci.
                                Integer egestas dictum quis eget in libero eget. Elementum
                                magna amet quam sem rhoncus lacus. Augue dignissim enim
                                elementum egestas at sed dui. Consequat nibh ut urna morbi
                                a. Convallis nulla a pulvinar augue cursus neque tortor.
                                Accumsan erat ultrices magna mattis egestas vel. Consequat
                                at arcu risus a enim at orci velit. Nam consequat mauris
                                malesuada phasellus vel consequat varius vitae
                                suspendisse. Adipiscing adipiscing lacus nulla tortor
                                ultrices sed eget. Aliquet ornare adipiscing lacus non
                                elit vel. Tortor sed adipiscing imperdiet tortor quam
                                dolor augue molestie. Interdum turpis in tortor velit urna
                                augue.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>