<div class="section-product-all">
        <div class="padding-global">
          <div class="container">
            <div class="current-link">
              <a
                href="../index.html"
                class="link text-weight-medium text-darkgreen3"
                >Home</a
              ><img
                src="https://assets-global.website-files.com/655334388fc47d51f723afb0/655742687d9bf6e0cd5c67ae_arrow-right-grey.svg"
                loading="lazy"
                alt="arrow-right"
              />
              <div class="w-dyn-list">
                <div role="list" class="w-dyn-items">
                  <div role="listitem" class="w-dyn-item">
                    <a
                      href="fashion.html"
                      aria-current="page"
                      class="link text-weight-medium text-darkgreen3 w--current"
                      >Fashion</a
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="product-all-button-wrap">
              <div></div>
              <div class="product-all-button-right-wrap">
                <div class="form-block w-form">
                  <form
                    id="email-form"
                    name="email-form"
                    data-name="Email Form"
                    method="get"
                    class="form"
                    data-wf-page-id="655f93aa63c9c30ae9bc7c46"
                    data-wf-element-id="045fdcd4-a279-7588-c47f-92dec9bc6bda"
                  >
                    <label for="field-2" class="sort-label">Sort By:</label
                    ><select
                      id="field-2"
                      name="field-2"
                      data-name="Field 2"
                      class="field w-node-_045fdcd4-a279-7588-c47f-92dec9bc6bdd-e9bc7c46 w-select"
                    >
                      <option value="">Relevant Products</option>
                      <option value="">Popular Products</option>
                    </select>
                  </form>
                  <div class="w-form-done">
                    <div>Thank you! Your submission has been received!</div>
                  </div>
                  <div class="w-form-fail">
                    <div>
                      Oops! Something went wrong while submitting the form.
                    </div>
                  </div>
                </div>
                <div class="toggle-prodct-wrap">
                  <a
                    data-w-id="045fdcd4-a279-7588-c47f-92dec9bc6be5"
                    href="#"
                    class="prodct-all-filter-toggle w-inline-block"
                    ><img
                      src="https://assets-global.website-files.com/655334388fc47d51f723afb0/655daacb54a0826a2892289b_filter.svg"
                      loading="lazy"
                      alt="filter-toggle"
                      class="prodct-all-filter-toggle-icon"
                  /></a>
                  <div class="divider-vertical bg-dgrey01"></div>
                  <div class="button-wrap toogle">
                    <a
                      data-w-id="045fdcd4-a279-7588-c47f-92dec9bc6be9"
                      style="background-color: rgb(30, 76, 47)"
                      href="#"
                      class="prodct-all-grid-toggle w-inline-block"
                      ><img
                        src="https://assets-global.website-files.com/655334388fc47d51f723afb0/655c426514402a51612163ae_element-3.svg"
                        loading="lazy"
                        style="filter: invert(0%)"
                        alt="grid icon"
                        class="prodct-all-grid-toggle-icon" /></a
                    ><a
                      data-w-id="045fdcd4-a279-7588-c47f-92dec9bc6beb"
                      style="background-color: rgb(255, 255, 255)"
                      href="#"
                      class="prodct-all-list-toggle w-inline-block"
                      ><img
                        src="https://assets-global.website-files.com/655334388fc47d51f723afb0/655c42655b32e5086ce84b1c_menu.svg"
                        loading="lazy"
                        style="filter: invert(0%)"
                        alt="list icon"
                        class="prodct-all-list-toggle-icon"
                    /></a>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <div class="product-all-detail-wrap">
                <div class="filter-wrap">
                  <h1 class="extraheading-h6">Filter Option</h1>
                  <div class="divider bg-dgrey01"></div>
                  <div class="filter-accordion-wrap">
                    <a
                      data-w-id="1a3ea997-9de9-dccc-d3eb-825b67345913"
                      href="#"
                      class="filter-accordion-head w-inline-block"
                      ><h1 class="heading-h3">Best Filter</h1>
                      <img
                        src="https://assets-global.website-files.com/655334388fc47d51f723afb0/655d9148c2a73024ef9ab5ca_arrow-up.svg"
                        loading="lazy"
                        alt="arrow"
                    /></a>
                    <div class="filter-accordion-body">
                      <div class="filter-form-block w-form">
                        <form
                          id="wf-form--4"
                          name="wf-form--4"
                          data-name=""
                          method="get"
                          data-wf-page-id="655f93aa63c9c30ae9bc7c46"
                          data-wf-element-id="1a3ea997-9de9-dccc-d3eb-825b67345919"
                        >
                          <div class="filter-checbox-wrap">
                            <label class="w-checkbox filter-checkbox-field"
                              ><div
                                class="w-checkbox-input w-checkbox-input--inputType-custom filter-checkbox"
                              ></div>
                              <input
                                type="checkbox"
                                name="checkbox-5"
                                data-name="Checkbox 5"
                                style="
                                  opacity: 0;
                                  position: absolute;
                                  z-index: -1;
                                "
                              /><span
                                class="filter-checkbox-label text-grey01 w-form-label"
                                for="checkbox-5"
                                >4 stars or upper</span
                              ></label
                            ><label class="w-checkbox filter-checkbox-field"
                              ><div
                                class="w-checkbox-input w-checkbox-input--inputType-custom filter-checkbox"
                              ></div>
                              <input
                                type="checkbox"
                                name="checkbox-4"
                                data-name="Checkbox 4"
                                style="
                                  opacity: 0;
                                  position: absolute;
                                  z-index: -1;
                                "
                              /><span
                                class="filter-checkbox-label text-grey01 w-form-label"
                                for="checkbox-4"
                                >Same-day delivery</span
                              ></label
                            ><label class="w-checkbox filter-checkbox-field"
                              ><div
                                class="w-checkbox-input w-checkbox-input--inputType-custom filter-checkbox"
                              ></div>
                              <input
                                type="checkbox"
                                name="checkbox-3"
                                data-name="Checkbox 3"
                                style="
                                  opacity: 0;
                                  position: absolute;
                                  z-index: -1;
                                "
                              /><span
                                class="filter-checkbox-label text-grey01 w-form-label"
                                for="checkbox-3"
                                >COD</span
                              ></label
                            ><label class="w-checkbox filter-checkbox-field"
                              ><div
                                class="w-checkbox-input w-checkbox-input--inputType-custom filter-checkbox"
                              ></div>
                              <input
                                type="checkbox"
                                name="checkbox-2"
                                data-name="Checkbox 2"
                                style="
                                  opacity: 0;
                                  position: absolute;
                                  z-index: -1;
                                "
                              /><span
                                class="filter-checkbox-label text-grey01 w-form-label"
                                for="checkbox-2"
                                >Discount</span
                              ></label
                            >
                          </div>
                        </form>
                        <div class="w-form-done">
                          <div>
                            Thank you! Your submission has been received!
                          </div>
                        </div>
                        <div class="w-form-fail">
                          <div>
                            Oops! Something went wrong while submitting the
                            form.
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="divider bg-dgrey01"></div>
                  <div class="filter-accordion-wrap">
                    <a
                      data-w-id="1a3ea997-9de9-dccc-d3eb-825b67345933"
                      href="#"
                      class="filter-accordion-head w-inline-block"
                      ><h1 class="heading-h3">Location</h1>
                      <img
                        src="https://assets-global.website-files.com/655334388fc47d51f723afb0/655d9148c2a73024ef9ab5ca_arrow-up.svg"
                        loading="lazy"
                        alt="arrow"
                    /></a>
                    <div class="filter-accordion-body">
                      <div class="filter-form-block w-form">
                        <form
                          id="wf-form--3"
                          name="wf-form--3"
                          data-name=""
                          method="get"
                          data-wf-page-id="655f93aa63c9c30ae9bc7c46"
                          data-wf-element-id="1a3ea997-9de9-dccc-d3eb-825b67345939"
                        >
                          <div class="filter-checbox-wrap">
                            <label class="w-checkbox filter-checkbox-field"
                              ><div
                                class="w-checkbox-input w-checkbox-input--inputType-custom filter-checkbox"
                              ></div>
                              <input
                                type="checkbox"
                                name="checkbox-5"
                                data-name="Checkbox 5"
                                style="
                                  opacity: 0;
                                  position: absolute;
                                  z-index: -1;
                                "
                              /><span
                                class="filter-checkbox-label text-grey01 w-form-label"
                                for="checkbox-5"
                                >Bandung</span
                              ></label
                            ><label class="w-checkbox filter-checkbox-field"
                              ><div
                                class="w-checkbox-input w-checkbox-input--inputType-custom filter-checkbox"
                              ></div>
                              <input
                                id="checkbox-4"
                                type="checkbox"
                                name="checkbox-4"
                                data-name="Checkbox 4"
                                style="
                                  opacity: 0;
                                  position: absolute;
                                  z-index: -1;
                                "
                              /><span
                                class="filter-checkbox-label text-grey01 w-form-label"
                                for="checkbox-4"
                                >Jakarta</span
                              ></label
                            ><label class="w-checkbox filter-checkbox-field"
                              ><div
                                class="w-checkbox-input w-checkbox-input--inputType-custom filter-checkbox"
                              ></div>
                              <input
                                id="checkbox-3"
                                type="checkbox"
                                name="checkbox-3"
                                data-name="Checkbox 3"
                                style="
                                  opacity: 0;
                                  position: absolute;
                                  z-index: -1;
                                "
                              /><span
                                class="filter-checkbox-label text-grey01 w-form-label"
                                for="checkbox-3"
                                >Medan</span
                              ></label
                            ><label class="w-checkbox filter-checkbox-field"
                              ><div
                                class="w-checkbox-input w-checkbox-input--inputType-custom filter-checkbox"
                              ></div>
                              <input
                                id="checkbox-2"
                                type="checkbox"
                                name="checkbox-2"
                                data-name="Checkbox 2"
                                style="
                                  opacity: 0;
                                  position: absolute;
                                  z-index: -1;
                                "
                              /><span
                                class="filter-checkbox-label text-grey01 w-form-label"
                                for="checkbox-2"
                                >Jogja</span
                              ></label
                            >
                          </div>
                        </form>
                        <div class="w-form-done">
                          <div>
                            Thank you! Your submission has been received!
                          </div>
                        </div>
                        <div class="w-form-fail">
                          <div>
                            Oops! Something went wrong while submitting the
                            form.
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="divider bg-dgrey01"></div>
                  <div class="filter-accordion-wrap">
                    <a
                      data-w-id="1a3ea997-9de9-dccc-d3eb-825b67345953"
                      href="#"
                      class="filter-accordion-head w-inline-block"
                      ><h1 class="heading-h3">Category</h1>
                      <img
                        src="https://assets-global.website-files.com/655334388fc47d51f723afb0/655d9148c2a73024ef9ab5ca_arrow-up.svg"
                        loading="lazy"
                        alt="arrow"
                    /></a>
                    <div class="filter-accordion-body">
                      <div class="filter-form-block w-form">
                        <form
                          id="wf-form--2"
                          name="wf-form--2"
                          data-name=""
                          method="get"
                          data-wf-page-id="655f93aa63c9c30ae9bc7c46"
                          data-wf-element-id="1a3ea997-9de9-dccc-d3eb-825b67345959"
                        >
                          <div class="w-dyn-list">
                            <div
                              role="list"
                              class="filter-checbox-wrap w-dyn-items"
                            >
                              <div
                                role="listitem"
                                class="filter-checkbox-field w-dyn-item"
                              >
                                <label class="w-checkbox filter-checkbox-field"
                                  ><div
                                    class="w-checkbox-input w-checkbox-input--inputType-custom filter-checkbox"
                                  ></div>
                                  <input
                                    id="checkbox-5"
                                    type="checkbox"
                                    name="checkbox-5"
                                    data-name="Checkbox 5"
                                    style="
                                      opacity: 0;
                                      position: absolute;
                                      z-index: -1;
                                    "
                                  /><span
                                    class="filter-checkbox-label text-grey01 w-form-label"
                                    for="checkbox-5"
                                    >Gaming</span
                                  ></label
                                >
                              </div>
                              <div
                                role="listitem"
                                class="filter-checkbox-field w-dyn-item"
                              >
                                <label class="w-checkbox filter-checkbox-field"
                                  ><div
                                    class="w-checkbox-input w-checkbox-input--inputType-custom filter-checkbox"
                                  ></div>
                                  <input
                                    id="checkbox-5"
                                    type="checkbox"
                                    name="checkbox-5"
                                    data-name="Checkbox 5"
                                    style="
                                      opacity: 0;
                                      position: absolute;
                                      z-index: -1;
                                    "
                                  /><span
                                    class="filter-checkbox-label text-grey01 w-form-label"
                                    for="checkbox-5"
                                    >Book</span
                                  ></label
                                >
                              </div>
                              <div
                                role="listitem"
                                class="filter-checkbox-field w-dyn-item"
                              >
                                <label class="w-checkbox filter-checkbox-field"
                                  ><div
                                    class="w-checkbox-input w-checkbox-input--inputType-custom filter-checkbox"
                                  ></div>
                                  <input
                                    id="checkbox-5"
                                    type="checkbox"
                                    name="checkbox-5"
                                    data-name="Checkbox 5"
                                    style="
                                      opacity: 0;
                                      position: absolute;
                                      z-index: -1;
                                    "
                                  /><span
                                    class="filter-checkbox-label text-grey01 w-form-label"
                                    for="checkbox-5"
                                    >Action Figure</span
                                  ></label
                                >
                              </div>
                              <div
                                role="listitem"
                                class="filter-checkbox-field w-dyn-item"
                              >
                                <label class="w-checkbox filter-checkbox-field"
                                  ><div
                                    class="w-checkbox-input w-checkbox-input--inputType-custom filter-checkbox"
                                  ></div>
                                  <input
                                    id="checkbox-5"
                                    type="checkbox"
                                    name="checkbox-5"
                                    data-name="Checkbox 5"
                                    style="
                                      opacity: 0;
                                      position: absolute;
                                      z-index: -1;
                                    "
                                  /><span
                                    class="filter-checkbox-label text-grey01 w-form-label"
                                    for="checkbox-5"
                                    >Fashion</span
                                  ></label
                                >
                              </div>
                              <div
                                role="listitem"
                                class="filter-checkbox-field w-dyn-item"
                              >
                                <label class="w-checkbox filter-checkbox-field"
                                  ><div
                                    class="w-checkbox-input w-checkbox-input--inputType-custom filter-checkbox"
                                  ></div>
                                  <input
                                    id="checkbox-5"
                                    type="checkbox"
                                    name="checkbox-5"
                                    data-name="Checkbox 5"
                                    style="
                                      opacity: 0;
                                      position: absolute;
                                      z-index: -1;
                                    "
                                  /><span
                                    class="filter-checkbox-label text-grey01 w-form-label"
                                    for="checkbox-5"
                                    >Electronics</span
                                  ></label
                                >
                              </div>
                            </div>
                          </div>
                        </form>
                        <div class="w-form-done">
                          <div>
                            Thank you! Your submission has been received!
                          </div>
                        </div>
                        <div class="w-form-fail">
                          <div>
                            Oops! Something went wrong while submitting the
                            form.
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="divider bg-dgrey01"></div>
                  <div class="filter-accordion-wrap">
                    <a
                      data-w-id="1a3ea997-9de9-dccc-d3eb-825b6734596b"
                      href="#"
                      class="filter-accordion-head w-inline-block"
                      ><h1 class="heading-h3">Price Range</h1>
                      <img
                        src="https://assets-global.website-files.com/655334388fc47d51f723afb0/655d9148c2a73024ef9ab5ca_arrow-up.svg"
                        loading="lazy"
                        alt="arrow"
                    /></a>
                    <div class="filter-accordion-body">
                      <div class="filter-form-block w-form">
                        <form
                          id="wf-form-"
                          name="wf-form-"
                          data-name=""
                          method="get"
                          data-wf-page-id="655f93aa63c9c30ae9bc7c46"
                          data-wf-element-id="1a3ea997-9de9-dccc-d3eb-825b67345971"
                        >
                          <div class="filter-price-wrap">
                            <div class="range-field">
                              <select
                                id="crency"
                                name="crency"
                                data-name="Crency"
                                class="range-select w-select"
                              >
                                <option value="USD">USD</option>
                                <option value="Second">Second choice</option>
                                <option value="Third">Third choice</option>
                              </select>
                              <div class="divider-vertical bg-dgrey01"></div>
                              <input
                                class="range-text w-input"
                                maxlength="256"
                                name="Minimum-price"
                                data-name="Minimum Price"
                                placeholder="Minimum price"
                                type="number"
                                id="Minimum-price"
                                required=""
                              />
                            </div>
                            <div class="range-field">
                              <select
                                id="crency-2"
                                name="crency-2"
                                data-name="Crency 2"
                                class="range-select w-select"
                              >
                                <option value="USD">USD</option>
                                <option value="Second">Second choice</option>
                                <option value="Third">Third choice</option>
                              </select>
                              <div class="divider-vertical bg-dgrey01"></div>
                              <input
                                class="range-text w-input"
                                autofocus="true"
                                maxlength="256"
                                name="Maximum-price"
                                data-name="Maximum Price"
                                placeholder="Maximum price"
                                type="number"
                                id="Maximum-price"
                                required=""
                              />
                            </div>
                            <label class="filter-price-field w-radio"
                              ><input
                                type="radio"
                                data-name="Price"
                                name="Price"
                                class="w-form-formradioinput filter-price w-radio-input"
                                value="Radio"
                              /><span class="filter-price-label w-form-label"
                                >$0 - $200</span
                              ></label
                            ><label class="filter-price-field w-radio"
                              ><input
                                type="radio"
                                data-name="Price"
                                name="Price"
                                class="w-form-formradioinput filter-price w-radio-input"
                                value="Radio"
                              /><span class="filter-price-label w-form-label"
                                >$0 - $200</span
                              ></label
                            ><label class="filter-price-field w-radio"
                              ><input
                                type="radio"
                                data-name="Price"
                                id="radio"
                                name="Price"
                                class="w-form-formradioinput filter-price w-radio-input"
                                value="Radio"
                              /><span
                                class="filter-price-label w-form-label"
                                for="radio"
                                >$0 - $200</span
                              ></label
                            >
                          </div>
                        </form>
                        <div class="w-form-done">
                          <div>
                            Thank you! Your submission has been received!
                          </div>
                        </div>
                        <div class="w-form-fail">
                          <div>
                            Oops! Something went wrong while submitting the
                            form.
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div style="opacity: 1" class="prodct-all-grid-wrap">
                  <div class="w-dyn-list">
                    <div role="list" class="prodct-all-grid w-dyn-items">
                      <div role="listitem" class="w-dyn-item">
                        <a
                          href="../product/shoes-jurd-high-69.html"
                          class="product-item w-inline-block"
                          ><div class="product-all-item-image-wrap">
                            <img
                              loading="lazy"
                              data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_main_image_4dr%22%2C%22to%22%3A%22src%22%7D%5D"
                              src="~/assets/image/65eea651ca00890dd41e8b63_hector-achautla-NCf_mwCXq4s-unsplash.jpg"
                              alt=""
                              sizes="(max-width: 767px) 37vw, (max-width: 991px) 23vw, (max-width: 1439px) 13vw, 180px"
                              srcset="
                                https://assets-global.website-files.com/6555b9ad0583113ca12065af/65eea651ca00890dd41e8b63_hector-achautla-NCf_mwCXq4s-unsplash-p-500.jpg   500w,
                                https://assets-global.website-files.com/6555b9ad0583113ca12065af/65eea651ca00890dd41e8b63_hector-achautla-NCf_mwCXq4s-unsplash-p-800.jpg   800w,
                                https://assets-global.website-files.com/6555b9ad0583113ca12065af/65eea651ca00890dd41e8b63_hector-achautla-NCf_mwCXq4s-unsplash-p-1080.jpg 1080w,
                                https://assets-global.website-files.com/6555b9ad0583113ca12065af/65eea651ca00890dd41e8b63_hector-achautla-NCf_mwCXq4s-unsplash-p-1600.jpg 1600w,
                                https://assets-global.website-files.com/6555b9ad0583113ca12065af/65eea651ca00890dd41e8b63_hector-achautla-NCf_mwCXq4s-unsplash-p-2000.jpg 2000w,
                                https://assets-global.website-files.com/6555b9ad0583113ca12065af/65eea651ca00890dd41e8b63_hector-achautla-NCf_mwCXq4s-unsplash-p-2600.jpg 2600w,
                                https://assets-global.website-files.com/6555b9ad0583113ca12065af/65eea651ca00890dd41e8b63_hector-achautla-NCf_mwCXq4s-unsplash-p-3200.jpg 3200w,
                                https://assets-global.website-files.com/6555b9ad0583113ca12065af/65eea651ca00890dd41e8b63_hector-achautla-NCf_mwCXq4s-unsplash.jpg        4000w
                              "
                              class="product-all-image"
                            />
                          </div>
                          <div class="product-item-description-wrap">
                            <div>
                              <div class="product-item-detail-title-wrap">
                                <p class="text-weight-semibold">
                                  Shoes Jurd High 69
                                </p>
                                <p
                                  data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_price_%22%2C%22to%22%3A%22innerHTML%22%7D%5D"
                                  class="text-weight-semibold text-darkgreen3"
                                >
                                  $ 269.00 USD
                                </p>
                              </div>
                              <p class="text-size-sm text-grey01">
                                Jakarta Pusat
                              </p>
                            </div>
                            <div class="product-item-detail-info-wrap">
                              <img
                                src="https://assets-global.website-files.com/655334388fc47d51f723afb0/6558338b89839ce2e01506c4_star.svg"
                                loading="lazy"
                                alt="Ratting-Icon"
                              />
                              <p class="text-size-sm">4.9</p>
                              <div class="dot bg-dgrey01"></div>
                              <p class="text-size-sm">3420</p>
                              <p class="text-size-sm">Sold</p>
                            </div>
                          </div></a
                        >
                      </div>
                      <div role="listitem" class="w-dyn-item">
                        <a
                          href="../product/gear-headphone-xyz-mode.html"
                          class="product-item w-inline-block"
                          ><div class="product-all-item-image-wrap">
                            <img
                              loading="lazy"
                              data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_main_image_4dr%22%2C%22to%22%3A%22src%22%7D%5D"
                              src="~/assets/image/65eea6af66cb99503d3f10c5_kiran-ck-LSNJ-pltdu8-unsplash.jpg"
                              alt=""
                              sizes="(max-width: 767px) 37vw, (max-width: 991px) 23vw, (max-width: 1439px) 13vw, 180px"
                              srcset="
                                https://assets-global.website-files.com/6555b9ad0583113ca12065af/65eea6af66cb99503d3f10c5_kiran-ck-LSNJ-pltdu8-unsplash-p-500.jpg   500w,
                                https://assets-global.website-files.com/6555b9ad0583113ca12065af/65eea6af66cb99503d3f10c5_kiran-ck-LSNJ-pltdu8-unsplash-p-800.jpg   800w,
                                https://assets-global.website-files.com/6555b9ad0583113ca12065af/65eea6af66cb99503d3f10c5_kiran-ck-LSNJ-pltdu8-unsplash-p-1080.jpg 1080w,
                                https://assets-global.website-files.com/6555b9ad0583113ca12065af/65eea6af66cb99503d3f10c5_kiran-ck-LSNJ-pltdu8-unsplash-p-1600.jpg 1600w,
                                https://assets-global.website-files.com/6555b9ad0583113ca12065af/65eea6af66cb99503d3f10c5_kiran-ck-LSNJ-pltdu8-unsplash-p-2000.jpg 2000w,
                                https://assets-global.website-files.com/6555b9ad0583113ca12065af/65eea6af66cb99503d3f10c5_kiran-ck-LSNJ-pltdu8-unsplash-p-2600.jpg 2600w,
                                https://assets-global.website-files.com/6555b9ad0583113ca12065af/65eea6af66cb99503d3f10c5_kiran-ck-LSNJ-pltdu8-unsplash-p-3200.jpg 3200w,
                                https://assets-global.website-files.com/6555b9ad0583113ca12065af/65eea6af66cb99503d3f10c5_kiran-ck-LSNJ-pltdu8-unsplash.jpg        3419w
                              "
                              class="product-all-image"
                            />
                          </div>
                          <div class="product-item-description-wrap">
                            <div>
                              <div class="product-item-detail-title-wrap">
                                <p class="text-weight-semibold">
                                  Gear Headphone XYZ Mode
                                </p>
                                <p
                                  data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_price_%22%2C%22to%22%3A%22innerHTML%22%7D%5D"
                                  class="text-weight-semibold text-darkgreen3"
                                >
                                  $ 1,029.00 USD
                                </p>
                              </div>
                              <p class="text-size-sm text-grey01">
                                Jakarta Pusat
                              </p>
                            </div>
                            <div class="product-item-detail-info-wrap">
                              <img
                                src="https://assets-global.website-files.com/655334388fc47d51f723afb0/6558338b89839ce2e01506c4_star.svg"
                                loading="lazy"
                                alt="Ratting-Icon"
                              />
                              <p class="text-size-sm">4.9</p>
                              <div class="dot bg-dgrey01"></div>
                              <p class="text-size-sm">5055</p>
                              <p class="text-size-sm">Sold</p>
                            </div>
                          </div></a
                        >
                      </div>
                      <div role="listitem" class="w-dyn-item">
                        <a
                          href="../product/gyz59-wireless-play-controller-stick.html"
                          class="product-item w-inline-block"
                          ><div class="product-all-item-image-wrap">
                            <img
                              loading="lazy"
                              data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_main_image_4dr%22%2C%22to%22%3A%22src%22%7D%5D"
                              src="~/assets/image/65eea75ee020cd817cd492cc_igor-karimov-M1nZU61xTK4-unsplash.jpg"
                              alt=""
                              sizes="(max-width: 767px) 37vw, (max-width: 991px) 23vw, (max-width: 1439px) 13vw, 180px"
                              srcset="
                                https://assets-global.website-files.com/6555b9ad0583113ca12065af/65eea75ee020cd817cd492cc_igor-karimov-M1nZU61xTK4-unsplash-p-500.jpg   500w,
                                https://assets-global.website-files.com/6555b9ad0583113ca12065af/65eea75ee020cd817cd492cc_igor-karimov-M1nZU61xTK4-unsplash-p-800.jpg   800w,
                                https://assets-global.website-files.com/6555b9ad0583113ca12065af/65eea75ee020cd817cd492cc_igor-karimov-M1nZU61xTK4-unsplash-p-1080.jpg 1080w,
                                https://assets-global.website-files.com/6555b9ad0583113ca12065af/65eea75ee020cd817cd492cc_igor-karimov-M1nZU61xTK4-unsplash-p-1600.jpg 1600w,
                                https://assets-global.website-files.com/6555b9ad0583113ca12065af/65eea75ee020cd817cd492cc_igor-karimov-M1nZU61xTK4-unsplash-p-2000.jpg 2000w,
                                https://assets-global.website-files.com/6555b9ad0583113ca12065af/65eea75ee020cd817cd492cc_igor-karimov-M1nZU61xTK4-unsplash-p-2600.jpg 2600w,
                                https://assets-global.website-files.com/6555b9ad0583113ca12065af/65eea75ee020cd817cd492cc_igor-karimov-M1nZU61xTK4-unsplash-p-3200.jpg 3200w,
                                https://assets-global.website-files.com/6555b9ad0583113ca12065af/65eea75ee020cd817cd492cc_igor-karimov-M1nZU61xTK4-unsplash.jpg        3872w
                              "
                              class="product-all-image"
                            />
                          </div>
                          <div class="product-item-description-wrap">
                            <div>
                              <div class="product-item-detail-title-wrap">
                                <p class="text-weight-semibold">
                                  GYZ59 Wireless Play Controller Stick
                                </p>
                                <p
                                  data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_price_%22%2C%22to%22%3A%22innerHTML%22%7D%5D"
                                  class="text-weight-semibold text-darkgreen3"
                                >
                                  $ 1,029.00 USD
                                </p>
                              </div>
                              <p class="text-size-sm text-grey01">
                                Jakarta Pusat
                              </p>
                            </div>
                            <div class="product-item-detail-info-wrap">
                              <img
                                src="https://assets-global.website-files.com/655334388fc47d51f723afb0/6558338b89839ce2e01506c4_star.svg"
                                loading="lazy"
                                alt="Ratting-Icon"
                              />
                              <p class="text-size-sm">4.9</p>
                              <div class="dot bg-dgrey01"></div>
                              <p class="text-size-sm">5055</p>
                              <p class="text-size-sm">Sold</p>
                            </div>
                          </div></a
                        >
                      </div>
                      <div role="listitem" class="w-dyn-item">
                        <a
                          href="../product/green-man-jacket.html"
                          class="product-item w-inline-block"
                          ><div class="product-all-item-image-wrap">
                            <img
                              loading="lazy"
                              data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_main_image_4dr%22%2C%22to%22%3A%22src%22%7D%5D"
                              src="~/assets/image/656472ee152de80a68a3e0a9_s%201%20(1).png"
                              alt=""
                              class="product-all-image"
                            />
                          </div>
                          <div class="product-item-description-wrap">
                            <div>
                              <div class="product-item-detail-title-wrap">
                                <p class="text-weight-semibold">
                                  Green Man Jacket
                                </p>
                                <p
                                  data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_price_%22%2C%22to%22%3A%22innerHTML%22%7D%5D"
                                  class="text-weight-semibold text-darkgreen3"
                                >
                                  $ 139.00 USD
                                </p>
                              </div>
                              <p class="text-size-sm text-grey01">
                                Jakarta Pusat
                              </p>
                            </div>
                            <div class="product-item-detail-info-wrap">
                              <img
                                src="https://assets-global.website-files.com/655334388fc47d51f723afb0/6558338b89839ce2e01506c4_star.svg"
                                loading="lazy"
                                alt="Ratting-Icon"
                              />
                              <p class="text-size-sm">4.8</p>
                              <div class="dot bg-dgrey01"></div>
                              <p class="text-size-sm">1500</p>
                              <p class="text-size-sm">Sold</p>
                            </div>
                          </div></a
                        >
                      </div>
                      <div role="listitem" class="w-dyn-item">
                        <a
                          href="../product/lenny-t-shirt.html"
                          class="product-item w-inline-block"
                          ><div class="product-all-item-image-wrap">
                            <img
                              loading="lazy"
                              data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_main_image_4dr%22%2C%22to%22%3A%22src%22%7D%5D"
                              src="~/assets/image/6569a2dda8d446f6b8d0700e_no-revisions-kWVImL5QxJI-unsplash.png"
                              alt=""
                              class="product-all-image"
                            />
                          </div>
                          <div class="product-item-description-wrap">
                            <div>
                              <div class="product-item-detail-title-wrap">
                                <p class="text-weight-semibold">
                                  Lenny T-Shirt
                                </p>
                                <p
                                  data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_price_%22%2C%22to%22%3A%22innerHTML%22%7D%5D"
                                  class="text-weight-semibold text-darkgreen3"
                                >
                                  $ 49.00 USD
                                </p>
                              </div>
                              <p class="text-size-sm text-grey01">
                                Jakarta Pusat
                              </p>
                            </div>
                            <div class="product-item-detail-info-wrap">
                              <img
                                src="https://assets-global.website-files.com/655334388fc47d51f723afb0/6558338b89839ce2e01506c4_star.svg"
                                loading="lazy"
                                alt="Ratting-Icon"
                              />
                              <p class="text-size-sm">4.6</p>
                              <div class="dot bg-dgrey01"></div>
                              <p class="text-size-sm">4520</p>
                              <p class="text-size-sm">Sold</p>
                            </div>
                          </div></a
                        >
                      </div>
                      <div role="listitem" class="w-dyn-item">
                        <a
                          href="../product/shirt-clothing-lenny-z2.html"
                          class="product-item w-inline-block"
                          ><div class="product-all-item-image-wrap">
                            <img
                              loading="lazy"
                              data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_main_image_4dr%22%2C%22to%22%3A%22src%22%7D%5D"
                              src="~/assets/image/65eea7110a440ab8f8ffd94f_md-salman-tWOz2_EK5EQ-unsplash.jpg"
                              alt=""
                              sizes="(max-width: 767px) 37vw, (max-width: 991px) 23vw, (max-width: 1439px) 13vw, 180px"
                              srcset="
                                https://assets-global.website-files.com/6555b9ad0583113ca12065af/65eea7110a440ab8f8ffd94f_md-salman-tWOz2_EK5EQ-unsplash-p-500.jpg   500w,
                                https://assets-global.website-files.com/6555b9ad0583113ca12065af/65eea7110a440ab8f8ffd94f_md-salman-tWOz2_EK5EQ-unsplash-p-800.jpg   800w,
                                https://assets-global.website-files.com/6555b9ad0583113ca12065af/65eea7110a440ab8f8ffd94f_md-salman-tWOz2_EK5EQ-unsplash-p-1080.jpg 1080w,
                                https://assets-global.website-files.com/6555b9ad0583113ca12065af/65eea7110a440ab8f8ffd94f_md-salman-tWOz2_EK5EQ-unsplash-p-1600.jpg 1600w,
                                https://assets-global.website-files.com/6555b9ad0583113ca12065af/65eea7110a440ab8f8ffd94f_md-salman-tWOz2_EK5EQ-unsplash-p-2000.jpg 2000w,
                                https://assets-global.website-files.com/6555b9ad0583113ca12065af/65eea7110a440ab8f8ffd94f_md-salman-tWOz2_EK5EQ-unsplash-p-2600.jpg 2600w,
                                https://assets-global.website-files.com/6555b9ad0583113ca12065af/65eea7110a440ab8f8ffd94f_md-salman-tWOz2_EK5EQ-unsplash.jpg        3000w
                              "
                              class="product-all-image"
                            />
                          </div>
                          <div class="product-item-description-wrap">
                            <div>
                              <div class="product-item-detail-title-wrap">
                                <p class="text-weight-semibold">
                                  Shirt Clothing Lenny Z2
                                </p>
                                <p
                                  data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_price_%22%2C%22to%22%3A%22innerHTML%22%7D%5D"
                                  class="text-weight-semibold text-darkgreen3"
                                >
                                  $ 49.00 USD
                                </p>
                              </div>
                              <p class="text-size-sm text-grey01">
                                Jakarta Pusat
                              </p>
                            </div>
                            <div class="product-item-detail-info-wrap">
                              <img
                                src="https://assets-global.website-files.com/655334388fc47d51f723afb0/6558338b89839ce2e01506c4_star.svg"
                                loading="lazy"
                                alt="Ratting-Icon"
                              />
                              <p class="text-size-sm">4.6</p>
                              <div class="dot bg-dgrey01"></div>
                              <p class="text-size-sm">4520</p>
                              <p class="text-size-sm">Sold</p>
                            </div>
                          </div></a
                        >
                      </div>
                      <div role="listitem" class="w-dyn-item">
                        <a
                          href="../product/g502-x-lightspeed-wireless-gaming-mouse-new.html"
                          class="product-item w-inline-block"
                          ><div class="product-all-item-image-wrap">
                            <img
                              loading="lazy"
                              data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_main_image_4dr%22%2C%22to%22%3A%22src%22%7D%5D"
                              src="https://assets-global.website-files.com/6555b9ad0583113ca12065af/655b4862b1688489dc7e8237_prdct.svg"
                              alt=""
                              class="product-all-image"
                            />
                          </div>
                          <div class="product-item-description-wrap">
                            <div>
                              <div class="product-item-detail-title-wrap">
                                <p class="text-weight-semibold">
                                  G502 X Lightspeed Wireless Gaming Mouse
                                </p>
                                <p
                                  data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_price_%22%2C%22to%22%3A%22innerHTML%22%7D%5D"
                                  class="text-weight-semibold text-darkgreen3"
                                >
                                  $ 139.00 USD
                                </p>
                              </div>
                              <p class="text-size-sm text-grey01">
                                Jakarta Pusat
                              </p>
                            </div>
                            <div class="product-item-detail-info-wrap">
                              <img
                                src="https://assets-global.website-files.com/655334388fc47d51f723afb0/6558338b89839ce2e01506c4_star.svg"
                                loading="lazy"
                                alt="Ratting-Icon"
                              />
                              <p class="text-size-sm">4.3</p>
                              <div class="dot bg-dgrey01"></div>
                              <p class="text-size-sm">1000</p>
                              <p class="text-size-sm">Sold</p>
                            </div>
                          </div></a
                        >
                      </div>
                    </div>
                    <div
                      role="navigation"
                      aria-label="List"
                      class="w-pagination-wrapper"
                    ></div>
                  </div>
                </div>
                <div style="opacity: 0" class="prodct-all-list-wrap">
                  <div class="w-dyn-list">
                    <div role="list" class="prodct-all-list w-dyn-items">
                      <div role="listitem" class="w-dyn-item">
                        <a
                          href="../product/gear-headphone-xyz-mode.html"
                          class="product-all-list-item w-inline-block"
                          ><div class="product-all-list-item-image-wrap">
                            <img
                              loading="lazy"
                              data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_main_image_4dr%22%2C%22to%22%3A%22src%22%7D%5D"
                              src="~/assets/image/65eea6af66cb99503d3f10c5_kiran-ck-LSNJ-pltdu8-unsplash.jpg"
                              alt=""
                              sizes="100vw"
                              srcset="
                                https://assets-global.website-files.com/6555b9ad0583113ca12065af/65eea6af66cb99503d3f10c5_kiran-ck-LSNJ-pltdu8-unsplash-p-500.jpg   500w,
                                https://assets-global.website-files.com/6555b9ad0583113ca12065af/65eea6af66cb99503d3f10c5_kiran-ck-LSNJ-pltdu8-unsplash-p-800.jpg   800w,
                                https://assets-global.website-files.com/6555b9ad0583113ca12065af/65eea6af66cb99503d3f10c5_kiran-ck-LSNJ-pltdu8-unsplash-p-1080.jpg 1080w,
                                https://assets-global.website-files.com/6555b9ad0583113ca12065af/65eea6af66cb99503d3f10c5_kiran-ck-LSNJ-pltdu8-unsplash-p-1600.jpg 1600w,
                                https://assets-global.website-files.com/6555b9ad0583113ca12065af/65eea6af66cb99503d3f10c5_kiran-ck-LSNJ-pltdu8-unsplash-p-2000.jpg 2000w,
                                https://assets-global.website-files.com/6555b9ad0583113ca12065af/65eea6af66cb99503d3f10c5_kiran-ck-LSNJ-pltdu8-unsplash-p-2600.jpg 2600w,
                                https://assets-global.website-files.com/6555b9ad0583113ca12065af/65eea6af66cb99503d3f10c5_kiran-ck-LSNJ-pltdu8-unsplash-p-3200.jpg 3200w,
                                https://assets-global.website-files.com/6555b9ad0583113ca12065af/65eea6af66cb99503d3f10c5_kiran-ck-LSNJ-pltdu8-unsplash.jpg        3419w
                              "
                              class="product-all-image"
                            />
                          </div>
                          <div class="product-all-list-item-description-wrap">
                            <div>
                              <div class="product-item-detail-title-wrap">
                                <p class="text-weight-semibold">
                                  Gear Headphone XYZ Mode
                                </p>
                              </div>
                              <p class="text-size-sm text-grey01">
                                Jakarta Pusat
                              </p>
                              <div class="product-item-detail-info-wrap">
                                <img
                                  src="https://assets-global.website-files.com/655334388fc47d51f723afb0/6558338b89839ce2e01506c4_star.svg"
                                  loading="lazy"
                                  alt="Ratting-Icon"
                                />
                                <p class="text-size-sm">4.9</p>
                                <div class="dot bg-dgrey01"></div>
                                <p class="text-size-sm">5055</p>
                                <p class="text-size-sm">Sold</p>
                              </div>
                            </div>
                            <p
                              data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_price_%22%2C%22to%22%3A%22innerHTML%22%7D%5D"
                              class="text-weight-semibold text-darkgreen3"
                            >
                              $ 1,029.00 USD
                            </p>
                          </div></a
                        >
                      </div>
                      <div role="listitem" class="w-dyn-item">
                        <a
                          href="../product/gyz59-wireless-play-controller-stick.html"
                          class="product-all-list-item w-inline-block"
                          ><div class="product-all-list-item-image-wrap">
                            <img
                              loading="lazy"
                              data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_main_image_4dr%22%2C%22to%22%3A%22src%22%7D%5D"
                              src="~/assets/image/65eea75ee020cd817cd492cc_igor-karimov-M1nZU61xTK4-unsplash.jpg"
                              alt=""
                              sizes="100vw"
                              srcset="
                                https://assets-global.website-files.com/6555b9ad0583113ca12065af/65eea75ee020cd817cd492cc_igor-karimov-M1nZU61xTK4-unsplash-p-500.jpg   500w,
                                https://assets-global.website-files.com/6555b9ad0583113ca12065af/65eea75ee020cd817cd492cc_igor-karimov-M1nZU61xTK4-unsplash-p-800.jpg   800w,
                                https://assets-global.website-files.com/6555b9ad0583113ca12065af/65eea75ee020cd817cd492cc_igor-karimov-M1nZU61xTK4-unsplash-p-1080.jpg 1080w,
                                https://assets-global.website-files.com/6555b9ad0583113ca12065af/65eea75ee020cd817cd492cc_igor-karimov-M1nZU61xTK4-unsplash-p-1600.jpg 1600w,
                                https://assets-global.website-files.com/6555b9ad0583113ca12065af/65eea75ee020cd817cd492cc_igor-karimov-M1nZU61xTK4-unsplash-p-2000.jpg 2000w,
                                https://assets-global.website-files.com/6555b9ad0583113ca12065af/65eea75ee020cd817cd492cc_igor-karimov-M1nZU61xTK4-unsplash-p-2600.jpg 2600w,
                                https://assets-global.website-files.com/6555b9ad0583113ca12065af/65eea75ee020cd817cd492cc_igor-karimov-M1nZU61xTK4-unsplash-p-3200.jpg 3200w,
                                https://assets-global.website-files.com/6555b9ad0583113ca12065af/65eea75ee020cd817cd492cc_igor-karimov-M1nZU61xTK4-unsplash.jpg        3872w
                              "
                              class="product-all-image"
                            />
                          </div>
                          <div class="product-all-list-item-description-wrap">
                            <div>
                              <div class="product-item-detail-title-wrap">
                                <p class="text-weight-semibold">
                                  GYZ59 Wireless Play Controller Stick
                                </p>
                              </div>
                              <p class="text-size-sm text-grey01">
                                Jakarta Pusat
                              </p>
                              <div class="product-item-detail-info-wrap">
                                <img
                                  src="https://assets-global.website-files.com/655334388fc47d51f723afb0/6558338b89839ce2e01506c4_star.svg"
                                  loading="lazy"
                                  alt="Ratting-Icon"
                                />
                                <p class="text-size-sm">4.9</p>
                                <div class="dot bg-dgrey01"></div>
                                <p class="text-size-sm">5055</p>
                                <p class="text-size-sm">Sold</p>
                              </div>
                            </div>
                            <p
                              data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_price_%22%2C%22to%22%3A%22innerHTML%22%7D%5D"
                              class="text-weight-semibold text-darkgreen3"
                            >
                              $ 1,029.00 USD
                            </p>
                          </div></a
                        >
                      </div>
                      <div role="listitem" class="w-dyn-item">
                        <a
                          href="../product/g502-x-lightspeed-wireless-gaming-mouse-new.html"
                          class="product-all-list-item w-inline-block"
                          ><div class="product-all-list-item-image-wrap">
                            <img
                              loading="lazy"
                              data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_main_image_4dr%22%2C%22to%22%3A%22src%22%7D%5D"
                              src="https://assets-global.website-files.com/6555b9ad0583113ca12065af/655b4862b1688489dc7e8237_prdct.svg"
                              alt=""
                              class="product-all-image"
                            />
                          </div>
                          <div class="product-all-list-item-description-wrap">
                            <div>
                              <div class="product-item-detail-title-wrap">
                                <p class="text-weight-semibold">
                                  G502 X Lightspeed Wireless Gaming Mouse
                                </p>
                              </div>
                              <p class="text-size-sm text-grey01">
                                Jakarta Pusat
                              </p>
                              <div class="product-item-detail-info-wrap">
                                <img
                                  src="https://assets-global.website-files.com/655334388fc47d51f723afb0/6558338b89839ce2e01506c4_star.svg"
                                  loading="lazy"
                                  alt="Ratting-Icon"
                                />
                                <p class="text-size-sm">4.3</p>
                                <div class="dot bg-dgrey01"></div>
                                <p class="text-size-sm">1000</p>
                                <p class="text-size-sm">Sold</p>
                              </div>
                            </div>
                            <p
                              data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_price_%22%2C%22to%22%3A%22innerHTML%22%7D%5D"
                              class="text-weight-semibold text-darkgreen3"
                            >
                              $ 139.00 USD
                            </p>
                          </div></a
                        >
                      </div>
                    </div>
                    <div
                      role="navigation"
                      aria-label="List"
                      class="w-pagination-wrapper"
                    ></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>