<div class="section-hero">
    <div class="padding-global--hero">
        <div class="container">
            <div class="hero-wrap">
                <div class="hero-left-wrap">
                    <div class="hero-text-wrap">
                        <h1 class="extraheading-h1">
                            Upgrade Your Wardrobe With Our Collection
                        </h1>
                        <p class="text-grey01 text-size-lg">
                            Eget neque aenean viverra aliquam tortor diam nunc. Dis
                            pellentesque lectus quis velit fusce aenean nunc dui
                            consectetur. Eu lorem est ullamcorper nisl amet non mollis.
                        </p>
                    </div>
                    <div class="w-dyn-list">
                        <div role="list" class="w-dyn-items">
                            <div role="listitem" class="w-dyn-item">
                                <div class="button-wrap">
                                    <a href="product/shoes-jurd-high-69.html"
                                       class="button w-button">Buy Now</a><a href="product/shoes-jurd-high-69.html"
                                                                             class="button secondary w-button">View Detail</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hero-right-wrap">
                    <div class="hero-product-wrap">
                        <div class="w-dyn-list">
                            <div role="list" class="w-dyn-items">
                                <div role="listitem" class="w-dyn-item">
                                    <a href="product/shoes-jurd-high-69.html"
                                       class="product-hero-item w-inline-block">
                                        <div class="product-hero-item-image-wrap">
                                            <img loading="lazy"
                                                 data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_main_image_4dr%22%2C%22to%22%3A%22src%22%7D%5D"
                                                 src="~/assets/image/65eea651ca00890dd41e8b63_hector-achautla-NCf_mwCXq4s-unsplash.jpg"
                                                 alt=""
                                                 sizes="(max-width: 479px) 40vw, (max-width: 991px) 180px, (max-width: 1439px) 13vw, 180px"
                                                 srcset="
                                https://assets-global.website-files.com/6555b9ad0583113ca12065af/65eea651ca00890dd41e8b63_hector-achautla-NCf_mwCXq4s-unsplash-p-500.jpg   500w,
                                https://assets-global.website-files.com/6555b9ad0583113ca12065af/65eea651ca00890dd41e8b63_hector-achautla-NCf_mwCXq4s-unsplash-p-800.jpg   800w,
                                https://assets-global.website-files.com/6555b9ad0583113ca12065af/65eea651ca00890dd41e8b63_hector-achautla-NCf_mwCXq4s-unsplash-p-1080.jpg 1080w,
                                https://assets-global.website-files.com/6555b9ad0583113ca12065af/65eea651ca00890dd41e8b63_hector-achautla-NCf_mwCXq4s-unsplash-p-1600.jpg 1600w,
                                https://assets-global.website-files.com/6555b9ad0583113ca12065af/65eea651ca00890dd41e8b63_hector-achautla-NCf_mwCXq4s-unsplash-p-2000.jpg 2000w,
                                https://assets-global.website-files.com/6555b9ad0583113ca12065af/65eea651ca00890dd41e8b63_hector-achautla-NCf_mwCXq4s-unsplash-p-2600.jpg 2600w,
                                https://assets-global.website-files.com/6555b9ad0583113ca12065af/65eea651ca00890dd41e8b63_hector-achautla-NCf_mwCXq4s-unsplash-p-3200.jpg 3200w,
                                https://assets-global.website-files.com/6555b9ad0583113ca12065af/65eea651ca00890dd41e8b63_hector-achautla-NCf_mwCXq4s-unsplash.jpg        4000w
                              "
                                                 class="product-item-image" />
                                        </div>
                                        <div class="product-item-description-wrap">
                                            <div>
                                                <p class="text-size-sm text-weight-semibold">
                                                    Shoes Jurd High 69
                                                </p>
                                                <p class="text-size-xxs text-grey01">
                                                    Jakarta Pusat
                                                </p>
                                            </div>
                                            <div class="product-item-detail-info-wrap">
                                                <img src="https://assets-global.website-files.com/655334388fc47d51f723afb0/6558338b89839ce2e01506c4_star.svg"
                                                     loading="lazy"
                                                     alt="Ratting-Icon" />
                                                <p class="text-size-xxs text-weight-medium">
                                                    4.9
                                                </p>
                                                <div class="dot bg-dgrey01"></div>
                                                <p class="text-size-xxs text-weight-medium">
                                                    3420
                                                </p>
                                                <p class="text-size-xxs text-weight-medium">
                                                    Sold
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section-features">
    <div class="padding-global">
        <div class="container">
            <div class="section-title">
                <h1 class="extraheading-h2">Featured Category</h1>
                <a href="product-all.html" class="button secondary w-button">View Detail</a>
            </div>
            <div class="w-dyn-list">
                <div role="list" class="features-grid w-dyn-items">
                    <div role="listitem" class="w-dyn-item">
                        <a data-w-id="d8c7f224-dae0-9bfa-2214-f5f7df92dcef"
                           style="
                      color: rgb(11, 15, 14);
                      background-color: rgb(255, 255, 255);
                    "
                           href="category/gaming.html"
                           class="features-item w-inline-block">
                            <img loading="lazy"
                                 style="display: inline-block; opacity: 1"
                                 src="https://assets-global.website-files.com/6555b9ad0583113ca12065af/655b2f03c467fe2e264f3b07_game.svg"
                                 alt=""
                                 class="featured-logo" /><img loading="lazy"
                                                              style="display: none; opacity: 0"
                                                              src="https://assets-global.website-files.com/6555b9ad0583113ca12065af/65673e0df2de559386f5c406_game.svg"
                                                              alt=""
                                                              class="featured-logo hover" />
                            <div class="features-text-wrap">
                                <h1 class="heading-h3">Gaming</h1>
                                <div class="features-total-product text-grey01">
                                    <p>100</p>
                                    <p>Products</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div role="listitem" class="w-dyn-item">
                        <a data-w-id="d8c7f224-dae0-9bfa-2214-f5f7df92dcef"
                           style="
                      color: rgb(11, 15, 14);
                      background-color: rgb(255, 255, 255);
                    "
                           href="category/book.html"
                           class="features-item w-inline-block">
                            <img loading="lazy"
                                 style="display: inline-block; opacity: 1"
                                 src="https://assets-global.website-files.com/6555b9ad0583113ca12065af/655b2edd439a45c100dca951_Book.svg"
                                 alt=""
                                 class="featured-logo" /><img loading="lazy"
                                                              style="display: none; opacity: 0"
                                                              src="https://assets-global.website-files.com/6555b9ad0583113ca12065af/65673e1af11e381241f1abf0_book.svg"
                                                              alt=""
                                                              class="featured-logo hover" />
                            <div class="features-text-wrap">
                                <h1 class="heading-h3">Book</h1>
                                <div class="features-total-product text-grey01">
                                    <p>100</p>
                                    <p>Products</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div role="listitem" class="w-dyn-item">
                        <a data-w-id="d8c7f224-dae0-9bfa-2214-f5f7df92dcef"
                           style="
                      color: rgb(11, 15, 14);
                      background-color: rgb(255, 255, 255);
                    "
                           href="category/action-figure.html"
                           class="features-item w-inline-block">
                            <img loading="lazy"
                                 style="display: inline-block; opacity: 1"
                                 src="https://assets-global.website-files.com/6555b9ad0583113ca12065af/655b301e8fbbaaf6dd22239b_Action Figure.svg"
                                 alt=""
                                 class="featured-logo" /><img loading="lazy"
                                                              style="display: none; opacity: 0"
                                                              src="https://assets-global.website-files.com/6555b9ad0583113ca12065af/65673e29edd450affb97b423_plane.svg"
                                                              alt=""
                                                              class="featured-logo hover" />
                            <div class="features-text-wrap">
                                <h1 class="heading-h3">Action Figure</h1>
                                <div class="features-total-product text-grey01">
                                    <p>100</p>
                                    <p>Products</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div role="listitem" class="w-dyn-item">
                        <a data-w-id="d8c7f224-dae0-9bfa-2214-f5f7df92dcef"
                           style="
                      color: rgb(11, 15, 14);
                      background-color: rgb(255, 255, 255);
                    "
                           href="category/fashion.html"
                           class="features-item w-inline-block">
                            <img loading="lazy"
                                 style="display: inline-block; opacity: 1"
                                 src="https://assets-global.website-files.com/6555b9ad0583113ca12065af/655b2e45c140718fe9ff2960_Fashion.svg"
                                 alt=""
                                 class="featured-logo" /><img loading="lazy"
                                                              style="display: none; opacity: 0"
                                                              src="https://assets-global.website-files.com/6555b9ad0583113ca12065af/65673e3c2650912f271d9313_fashion.svg"
                                                              alt=""
                                                              class="featured-logo hover" />
                            <div class="features-text-wrap">
                                <h1 class="heading-h3">Fashion</h1>
                                <div class="features-total-product text-grey01">
                                    <p>100</p>
                                    <p>Products</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div role="listitem" class="w-dyn-item">
                        <a data-w-id="d8c7f224-dae0-9bfa-2214-f5f7df92dcef"
                           style="
                      color: rgb(11, 15, 14);
                      background-color: rgb(255, 255, 255);
                    "
                           href="category/electronics.html"
                           class="features-item w-inline-block">
                            <img loading="lazy"
                                 style="display: inline-block; opacity: 1"
                                 src="https://assets-global.website-files.com/6555b9ad0583113ca12065af/655b2e296c7b81432a239332_Electronics.svg"
                                 alt=""
                                 class="featured-logo" /><img loading="lazy"
                                                              style="display: none; opacity: 0"
                                                              src="https://assets-global.website-files.com/6555b9ad0583113ca12065af/65673e6257f7d1a23df102f7_hp.svg"
                                                              alt=""
                                                              class="featured-logo hover" />
                            <div class="features-text-wrap">
                                <h1 class="heading-h3">Electronics</h1>
                                <div class="features-total-product text-grey01">
                                    <p>100</p>
                                    <p>Products</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section-product">
    <div class="padding-global">
        <div class="container">
            <div class="section-title center">
                <h1 class="extraheading-h4">Popular Product on Lenny</h1>
                <p class="text-grey01">
                    Lorem ipsum dolor sit amet consectetur. Integer cursus cursus in
                </p>
            </div>
            <div class="w-dyn-list">
                <div role="list" class="prodct-grid w-dyn-items">
                    <div role="listitem" class="w-dyn-item">
                        <a href="product/shoes-jurd-high-69.html"
                           class="product-item w-inline-block">
                            <div class="product-item-image-wrap">
                                <img loading="lazy"
                                     data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_main_image_4dr%22%2C%22to%22%3A%22src%22%7D%5D"
                                     src="~/assets/image/65eea651ca00890dd41e8b63_hector-achautla-NCf_mwCXq4s-unsplash.jpg"
                                     alt=""
                                     sizes="(max-width: 479px) 29vw, (max-width: 767px) 35vw, (max-width: 991px) 120px, (max-width: 1439px) 17vw, 21vw"
                                     srcset="
                          https://assets-global.website-files.com/6555b9ad0583113ca12065af/65eea651ca00890dd41e8b63_hector-achautla-NCf_mwCXq4s-unsplash-p-500.jpg   500w,
                          https://assets-global.website-files.com/6555b9ad0583113ca12065af/65eea651ca00890dd41e8b63_hector-achautla-NCf_mwCXq4s-unsplash-p-800.jpg   800w,
                          https://assets-global.website-files.com/6555b9ad0583113ca12065af/65eea651ca00890dd41e8b63_hector-achautla-NCf_mwCXq4s-unsplash-p-1080.jpg 1080w,
                          https://assets-global.website-files.com/6555b9ad0583113ca12065af/65eea651ca00890dd41e8b63_hector-achautla-NCf_mwCXq4s-unsplash-p-1600.jpg 1600w,
                          https://assets-global.website-files.com/6555b9ad0583113ca12065af/65eea651ca00890dd41e8b63_hector-achautla-NCf_mwCXq4s-unsplash-p-2000.jpg 2000w,
                          https://assets-global.website-files.com/6555b9ad0583113ca12065af/65eea651ca00890dd41e8b63_hector-achautla-NCf_mwCXq4s-unsplash-p-2600.jpg 2600w,
                          https://assets-global.website-files.com/6555b9ad0583113ca12065af/65eea651ca00890dd41e8b63_hector-achautla-NCf_mwCXq4s-unsplash-p-3200.jpg 3200w,
                          https://assets-global.website-files.com/6555b9ad0583113ca12065af/65eea651ca00890dd41e8b63_hector-achautla-NCf_mwCXq4s-unsplash.jpg        4000w
                        "
                                     class="product-image" />
                            </div>
                            <div class="product-item-description-wrap">
                                <div>
                                    <div class="product-item-detail-title-wrap">
                                        <p class="text-weight-semibold">Shoes Jurd High 69</p>
                                        <p data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_price_%22%2C%22to%22%3A%22innerHTML%22%7D%5D"
                                           class="text-weight-semibold text-darkgreen3">
                                            $ 269.00 USD
                                        </p>
                                    </div>
                                    <p class="text-size-sm text-grey01">Jakarta Pusat</p>
                                </div>
                                <div class="product-item-detail-info-wrap">
                                    <img src="https://assets-global.website-files.com/655334388fc47d51f723afb0/6558338b89839ce2e01506c4_star.svg"
                                         loading="lazy"
                                         alt="Ratting-Icon" />
                                    <p class="text-size-sm">4.9</p>
                                    <div class="dot bg-dgrey01"></div>
                                    <p class="text-size-sm">3420</p>
                                    <p class="text-size-sm">Sold</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div role="listitem" class="w-dyn-item">
                        <a href="product/gear-headphone-xyz-mode.html"
                           class="product-item w-inline-block">
                            <div class="product-item-image-wrap">
                                <img loading="lazy"
                                     data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_main_image_4dr%22%2C%22to%22%3A%22src%22%7D%5D"
                                     src="~/assets/image/65eea6af66cb99503d3f10c5_kiran-ck-LSNJ-pltdu8-unsplash.jpg"
                                     alt=""
                                     sizes="(max-width: 479px) 29vw, (max-width: 767px) 35vw, (max-width: 991px) 120px, (max-width: 1439px) 17vw, 21vw"
                                     srcset="
                          https://assets-global.website-files.com/6555b9ad0583113ca12065af/65eea6af66cb99503d3f10c5_kiran-ck-LSNJ-pltdu8-unsplash-p-500.jpg   500w,
                          https://assets-global.website-files.com/6555b9ad0583113ca12065af/65eea6af66cb99503d3f10c5_kiran-ck-LSNJ-pltdu8-unsplash-p-800.jpg   800w,
                          https://assets-global.website-files.com/6555b9ad0583113ca12065af/65eea6af66cb99503d3f10c5_kiran-ck-LSNJ-pltdu8-unsplash-p-1080.jpg 1080w,
                          https://assets-global.website-files.com/6555b9ad0583113ca12065af/65eea6af66cb99503d3f10c5_kiran-ck-LSNJ-pltdu8-unsplash-p-1600.jpg 1600w,
                          https://assets-global.website-files.com/6555b9ad0583113ca12065af/65eea6af66cb99503d3f10c5_kiran-ck-LSNJ-pltdu8-unsplash-p-2000.jpg 2000w,
                          https://assets-global.website-files.com/6555b9ad0583113ca12065af/65eea6af66cb99503d3f10c5_kiran-ck-LSNJ-pltdu8-unsplash-p-2600.jpg 2600w,
                          https://assets-global.website-files.com/6555b9ad0583113ca12065af/65eea6af66cb99503d3f10c5_kiran-ck-LSNJ-pltdu8-unsplash-p-3200.jpg 3200w,
                          https://assets-global.website-files.com/6555b9ad0583113ca12065af/65eea6af66cb99503d3f10c5_kiran-ck-LSNJ-pltdu8-unsplash.jpg        3419w
                        "
                                     class="product-image" />
                            </div>
                            <div class="product-item-description-wrap">
                                <div>
                                    <div class="product-item-detail-title-wrap">
                                        <p class="text-weight-semibold">
                                            Gear Headphone XYZ Mode
                                        </p>
                                        <p data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_price_%22%2C%22to%22%3A%22innerHTML%22%7D%5D"
                                           class="text-weight-semibold text-darkgreen3">
                                            $ 1,029.00 USD
                                        </p>
                                    </div>
                                    <p class="text-size-sm text-grey01">Jakarta Pusat</p>
                                </div>
                                <div class="product-item-detail-info-wrap">
                                    <img src="https://assets-global.website-files.com/655334388fc47d51f723afb0/6558338b89839ce2e01506c4_star.svg"
                                         loading="lazy"
                                         alt="Ratting-Icon" />
                                    <p class="text-size-sm">4.9</p>
                                    <div class="dot bg-dgrey01"></div>
                                    <p class="text-size-sm">5055</p>
                                    <p class="text-size-sm">Sold</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div role="listitem" class="w-dyn-item">
                        <a href="product/gyz59-wireless-play-controller-stick.html"
                           class="product-item w-inline-block">
                            <div class="product-item-image-wrap">
                                <img loading="lazy"
                                     data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_main_image_4dr%22%2C%22to%22%3A%22src%22%7D%5D"
                                     src="~/assets/image/65eea75ee020cd817cd492cc_igor-karimov-M1nZU61xTK4-unsplash.jpg"
                                     alt=""
                                     sizes="(max-width: 479px) 29vw, (max-width: 767px) 35vw, (max-width: 991px) 120px, (max-width: 1439px) 17vw, 21vw"
                                     srcset="
                          https://assets-global.website-files.com/6555b9ad0583113ca12065af/65eea75ee020cd817cd492cc_igor-karimov-M1nZU61xTK4-unsplash-p-500.jpg   500w,
                          https://assets-global.website-files.com/6555b9ad0583113ca12065af/65eea75ee020cd817cd492cc_igor-karimov-M1nZU61xTK4-unsplash-p-800.jpg   800w,
                          https://assets-global.website-files.com/6555b9ad0583113ca12065af/65eea75ee020cd817cd492cc_igor-karimov-M1nZU61xTK4-unsplash-p-1080.jpg 1080w,
                          https://assets-global.website-files.com/6555b9ad0583113ca12065af/65eea75ee020cd817cd492cc_igor-karimov-M1nZU61xTK4-unsplash-p-1600.jpg 1600w,
                          https://assets-global.website-files.com/6555b9ad0583113ca12065af/65eea75ee020cd817cd492cc_igor-karimov-M1nZU61xTK4-unsplash-p-2000.jpg 2000w,
                          https://assets-global.website-files.com/6555b9ad0583113ca12065af/65eea75ee020cd817cd492cc_igor-karimov-M1nZU61xTK4-unsplash-p-2600.jpg 2600w,
                          https://assets-global.website-files.com/6555b9ad0583113ca12065af/65eea75ee020cd817cd492cc_igor-karimov-M1nZU61xTK4-unsplash-p-3200.jpg 3200w,
                          https://assets-global.website-files.com/6555b9ad0583113ca12065af/65eea75ee020cd817cd492cc_igor-karimov-M1nZU61xTK4-unsplash.jpg        3872w
                        "
                                     class="product-image" />
                            </div>
                            <div class="product-item-description-wrap">
                                <div>
                                    <div class="product-item-detail-title-wrap">
                                        <p class="text-weight-semibold">
                                            GYZ59 Wireless Play Controller Stick
                                        </p>
                                        <p data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_price_%22%2C%22to%22%3A%22innerHTML%22%7D%5D"
                                           class="text-weight-semibold text-darkgreen3">
                                            $ 1,029.00 USD
                                        </p>
                                    </div>
                                    <p class="text-size-sm text-grey01">Jakarta Pusat</p>
                                </div>
                                <div class="product-item-detail-info-wrap">
                                    <img src="https://assets-global.website-files.com/655334388fc47d51f723afb0/6558338b89839ce2e01506c4_star.svg"
                                         loading="lazy"
                                         alt="Ratting-Icon" />
                                    <p class="text-size-sm">4.9</p>
                                    <div class="dot bg-dgrey01"></div>
                                    <p class="text-size-sm">5055</p>
                                    <p class="text-size-sm">Sold</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div role="listitem" class="w-dyn-item">
                        <a href="product/green-man-jacket.html"
                           class="product-item w-inline-block">
                            <div class="product-item-image-wrap">
                                <img loading="lazy"
                                     data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_main_image_4dr%22%2C%22to%22%3A%22src%22%7D%5D"
                                     src="~/assets/image/656472ee152de80a68a3e0a9_s%201%20(1).png"
                                     alt=""
                                     class="product-image" />
                            </div>
                            <div class="product-item-description-wrap">
                                <div>
                                    <div class="product-item-detail-title-wrap">
                                        <p class="text-weight-semibold">Green Man Jacket</p>
                                        <p data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_price_%22%2C%22to%22%3A%22innerHTML%22%7D%5D"
                                           class="text-weight-semibold text-darkgreen3">
                                            $ 139.00 USD
                                        </p>
                                    </div>
                                    <p class="text-size-sm text-grey01">Jakarta Pusat</p>
                                </div>
                                <div class="product-item-detail-info-wrap">
                                    <img src="https://assets-global.website-files.com/655334388fc47d51f723afb0/6558338b89839ce2e01506c4_star.svg"
                                         loading="lazy"
                                         alt="Ratting-Icon" />
                                    <p class="text-size-sm">4.8</p>
                                    <div class="dot bg-dgrey01"></div>
                                    <p class="text-size-sm">1500</p>
                                    <p class="text-size-sm">Sold</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div role="listitem" class="w-dyn-item">
                        <a href="product/lenny-t-shirt.html"
                           class="product-item w-inline-block">
                            <div class="product-item-image-wrap">
                                <img loading="lazy"
                                     data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_main_image_4dr%22%2C%22to%22%3A%22src%22%7D%5D"
                                     src="~/assets/image/6569a2dda8d446f6b8d0700e_no-revisions-kWVImL5QxJI-unsplash.png"
                                     alt=""
                                     class="product-image" />
                            </div>
                            <div class="product-item-description-wrap">
                                <div>
                                    <div class="product-item-detail-title-wrap">
                                        <p class="text-weight-semibold">Lenny T-Shirt</p>
                                        <p data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_price_%22%2C%22to%22%3A%22innerHTML%22%7D%5D"
                                           class="text-weight-semibold text-darkgreen3">
                                            $ 49.00 USD
                                        </p>
                                    </div>
                                    <p class="text-size-sm text-grey01">Jakarta Pusat</p>
                                </div>
                                <div class="product-item-detail-info-wrap">
                                    <img src="https://assets-global.website-files.com/655334388fc47d51f723afb0/6558338b89839ce2e01506c4_star.svg"
                                         loading="lazy"
                                         alt="Ratting-Icon" />
                                    <p class="text-size-sm">4.6</p>
                                    <div class="dot bg-dgrey01"></div>
                                    <p class="text-size-sm">4520</p>
                                    <p class="text-size-sm">Sold</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div role="listitem" class="w-dyn-item">
                        <a href="product/shirt-clothing-lenny-z2.html"
                           class="product-item w-inline-block">
                            <div class="product-item-image-wrap">
                                <img loading="lazy"
                                     data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_main_image_4dr%22%2C%22to%22%3A%22src%22%7D%5D"
                                     src="~/assets/image/65eea7110a440ab8f8ffd94f_md-salman-tWOz2_EK5EQ-unsplash.jpg"
                                     alt=""
                                     sizes="(max-width: 479px) 29vw, (max-width: 767px) 35vw, (max-width: 991px) 120px, (max-width: 1439px) 17vw, 21vw"
                                     srcset="
                          https://assets-global.website-files.com/6555b9ad0583113ca12065af/65eea7110a440ab8f8ffd94f_md-salman-tWOz2_EK5EQ-unsplash-p-500.jpg   500w,
                          https://assets-global.website-files.com/6555b9ad0583113ca12065af/65eea7110a440ab8f8ffd94f_md-salman-tWOz2_EK5EQ-unsplash-p-800.jpg   800w,
                          https://assets-global.website-files.com/6555b9ad0583113ca12065af/65eea7110a440ab8f8ffd94f_md-salman-tWOz2_EK5EQ-unsplash-p-1080.jpg 1080w,
                          https://assets-global.website-files.com/6555b9ad0583113ca12065af/65eea7110a440ab8f8ffd94f_md-salman-tWOz2_EK5EQ-unsplash-p-1600.jpg 1600w,
                          https://assets-global.website-files.com/6555b9ad0583113ca12065af/65eea7110a440ab8f8ffd94f_md-salman-tWOz2_EK5EQ-unsplash-p-2000.jpg 2000w,
                          https://assets-global.website-files.com/6555b9ad0583113ca12065af/65eea7110a440ab8f8ffd94f_md-salman-tWOz2_EK5EQ-unsplash-p-2600.jpg 2600w,
                          https://assets-global.website-files.com/6555b9ad0583113ca12065af/65eea7110a440ab8f8ffd94f_md-salman-tWOz2_EK5EQ-unsplash.jpg        3000w
                        "
                                     class="product-image" />
                            </div>
                            <div class="product-item-description-wrap">
                                <div>
                                    <div class="product-item-detail-title-wrap">
                                        <p class="text-weight-semibold">
                                            Shirt Clothing Lenny Z2
                                        </p>
                                        <p data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_price_%22%2C%22to%22%3A%22innerHTML%22%7D%5D"
                                           class="text-weight-semibold text-darkgreen3">
                                            $ 49.00 USD
                                        </p>
                                    </div>
                                    <p class="text-size-sm text-grey01">Jakarta Pusat</p>
                                </div>
                                <div class="product-item-detail-info-wrap">
                                    <img src="https://assets-global.website-files.com/655334388fc47d51f723afb0/6558338b89839ce2e01506c4_star.svg"
                                         loading="lazy"
                                         alt="Ratting-Icon" />
                                    <p class="text-size-sm">4.6</p>
                                    <div class="dot bg-dgrey01"></div>
                                    <p class="text-size-sm">4520</p>
                                    <p class="text-size-sm">Sold</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div role="listitem" class="w-dyn-item">
                        <a href="product/g502-x-lightspeed-wireless-gaming-mouse-new.html"
                           class="product-item w-inline-block">
                            <div class="product-item-image-wrap">
                                <img loading="lazy"
                                     data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_main_image_4dr%22%2C%22to%22%3A%22src%22%7D%5D"
                                     src="https://assets-global.website-files.com/6555b9ad0583113ca12065af/655b4862b1688489dc7e8237_prdct.svg"
                                     alt=""
                                     class="product-image" />
                            </div>
                            <div class="product-item-description-wrap">
                                <div>
                                    <div class="product-item-detail-title-wrap">
                                        <p class="text-weight-semibold">
                                            G502 X Lightspeed Wireless Gaming Mouse
                                        </p>
                                        <p data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_price_%22%2C%22to%22%3A%22innerHTML%22%7D%5D"
                                           class="text-weight-semibold text-darkgreen3">
                                            $ 139.00 USD
                                        </p>
                                    </div>
                                    <p class="text-size-sm text-grey01">Jakarta Pusat</p>
                                </div>
                                <div class="product-item-detail-info-wrap">
                                    <img src="https://assets-global.website-files.com/655334388fc47d51f723afb0/6558338b89839ce2e01506c4_star.svg"
                                         loading="lazy"
                                         alt="Ratting-Icon" />
                                    <p class="text-size-sm">4.3</p>
                                    <div class="dot bg-dgrey01"></div>
                                    <p class="text-size-sm">1000</p>
                                    <p class="text-size-sm">Sold</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="button-center-wrap">
                <a href="product-all.html" class="button secondary w-button">Load More</a>
            </div>
        </div>
    </div>
</div>

<div class="section-promo-banner">
    <div class="padding-global">
        <div class="container">
            <div class="w-dyn-list">
                <div role="list" class="w-dyn-items">
                    <div role="listitem" class="w-dyn-item">
                        <div class="promo-banner-wrap">
                            <div class="promo-banner-image-wrap">
                                <img loading="lazy"
                                     data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_main_image_4dr%22%2C%22to%22%3A%22src%22%7D%5D"
                                     src="~/assets/image/65eea75ee020cd817cd492cc_igor-karimov-M1nZU61xTK4-unsplash.jpg"
                                     alt=""
                                     sizes="(max-width: 479px) 36vw, (max-width: 767px) 39vw, (max-width: 991px) 40vw, (max-width: 1439px) 26vw, 60vw"
                                     srcset="
                          https://assets-global.website-files.com/6555b9ad0583113ca12065af/65eea75ee020cd817cd492cc_igor-karimov-M1nZU61xTK4-unsplash-p-500.jpg   500w,
                          https://assets-global.website-files.com/6555b9ad0583113ca12065af/65eea75ee020cd817cd492cc_igor-karimov-M1nZU61xTK4-unsplash-p-800.jpg   800w,
                          https://assets-global.website-files.com/6555b9ad0583113ca12065af/65eea75ee020cd817cd492cc_igor-karimov-M1nZU61xTK4-unsplash-p-1080.jpg 1080w,
                          https://assets-global.website-files.com/6555b9ad0583113ca12065af/65eea75ee020cd817cd492cc_igor-karimov-M1nZU61xTK4-unsplash-p-1600.jpg 1600w,
                          https://assets-global.website-files.com/6555b9ad0583113ca12065af/65eea75ee020cd817cd492cc_igor-karimov-M1nZU61xTK4-unsplash-p-2000.jpg 2000w,
                          https://assets-global.website-files.com/6555b9ad0583113ca12065af/65eea75ee020cd817cd492cc_igor-karimov-M1nZU61xTK4-unsplash-p-2600.jpg 2600w,
                          https://assets-global.website-files.com/6555b9ad0583113ca12065af/65eea75ee020cd817cd492cc_igor-karimov-M1nZU61xTK4-unsplash-p-3200.jpg 3200w,
                          https://assets-global.website-files.com/6555b9ad0583113ca12065af/65eea75ee020cd817cd492cc_igor-karimov-M1nZU61xTK4-unsplash.jpg        3872w
                        "
                                     class="promo-banner-image" />
                            </div>
                            <div class="promo-banner-description-wrap">
                                <div class="promo-banner-text-wrap">
                                    <h1 class="extraheading-h2">
                                        GYZ59 Wireless Play Controller Stick
                                    </h1>
                                    <p class="text-grey01">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing
                                        elit ut aliquam, purus sit amet luctus venenatis,
                                        lectus magna fringilla urna, porttitor rhoncus dolor
                                        purus non enim praesent elementum facilisis leo, vel
                                        fringilla est ullamcorper eget nulla facilisi etiam
                                        dignissim diam quis enim lobortis scelerisque
                                        fermentum dui faucibus in ornare quam viverra orci
                                        sagittis eu volutpat odio facilisis mauris sit amet
                                        massa vitae tortor.
                                    </p>
                                </div>
                                <div class="button-wrap">
                                    <a href="product/gyz59-wireless-play-controller-stick.html"
                                       class="button w-button">Buy Now</a><a href="product/gyz59-wireless-play-controller-stick.html"
                                                                             class="button secondary w-button">View Detail</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section-article">
    <div class="padding-global">
        <div class="container">
            <div class="section-title">
                <h1 class="extraheading-h2">Lenny’s Article</h1>
                <a href="article.html" class="button secondary w-button">View Detail</a>
            </div>
            <div class="w-dyn-list">
                <div role="list" class="article-list w-dyn-items">
                    <div role="listitem" class="w-dyn-item">
                        <a href="articles/5-principles-of-effective-web-design.html"
                           class="article-link-wrap w-inline-block">
                            <section class="article-item">
                                <div class="article-image-wrap">
                                    <img alt=""
                                         loading="lazy"
                                         src="~/assets/image/6555b9b707f065dd00bea851_image7.jpg"
                                         class="article-image" />
                                </div>
                                <div class="article-text-wrap">
                                    <div class="article-description-wrap">
                                        <p class="text-size-xs text-grey01">
                                            November 24, 2023
                                        </p>
                                    </div>
                                    <h1 class="heading-h2">
                                        5 Principles Of Effective Web Design
                                    </h1>
                                    <p class="text-grey01 text-size-md">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing
                                        elit. Suspendisse varius enim in eros elementum
                                        tristique. Duis cursus, mi quis viverra ornare, eros
                                        dolor interdum nulla, ut commodo diam libero vitae
                                        erat. Aenean faucibus nibh et justo cursus id rutrum
                                        lorem imperdiet. Nunc ut sem vitae risus tristique
                                        posuere.
                                    </p>
                                </div>
                            </section>
                        </a>
                    </div>
                    <div role="listitem" class="w-dyn-item">
                        <a href="articles/20-myths-about-web-design.html"
                           class="article-link-wrap w-inline-block">
                            <section class="article-item">
                                <div class="article-image-wrap">
                                    <img alt=""
                                         loading="lazy"
                                         src="~/assets/image/6555b9b707f065dd00bea84e_image17.jpg"
                                         class="article-image" />
                                </div>
                                <div class="article-text-wrap">
                                    <div class="article-description-wrap">
                                        <p class="text-size-xs text-grey01">
                                            November 24, 2023
                                        </p>
                                    </div>
                                    <h1 class="heading-h2">20 Myths About Web Design</h1>
                                    <p class="text-grey01 text-size-md">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing
                                        elit. Suspendisse varius enim in eros elementum
                                        tristique. Duis cursus, mi quis viverra ornare, eros
                                        dolor interdum nulla, ut commodo diam libero vitae
                                        erat. Aenean faucibus nibh et justo cursus id rutrum
                                        lorem imperdiet. Nunc ut sem vitae risus tristique
                                        posuere.
                                    </p>
                                </div>
                            </section>
                        </a>
                    </div>
                    <div role="listitem" class="w-dyn-item">
                        <a href="articles/7-of-the-best-examples-of-beautiful-blog-design.html"
                           class="article-link-wrap w-inline-block">
                            <section class="article-item">
                                <div class="article-image-wrap">
                                    <img alt=""
                                         loading="lazy"
                                         src="~/assets/image/6555b9b707f065dd00bea854_image4.jpg"
                                         class="article-image" />
                                </div>
                                <div class="article-text-wrap">
                                    <div class="article-description-wrap">
                                        <p class="text-size-xs text-grey01">
                                            November 24, 2023
                                        </p>
                                    </div>
                                    <h1 class="heading-h2">
                                        7 of the Best Examples of Beautiful Blog Design
                                    </h1>
                                    <p class="text-grey01 text-size-md">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing
                                        elit. Suspendisse varius enim in eros elementum
                                        tristique. Duis cursus, mi quis viverra ornare, eros
                                        dolor interdum nulla, ut commodo diam libero vitae
                                        erat. Aenean faucibus nibh et justo cursus id rutrum
                                        lorem imperdiet. Nunc ut sem vitae risus tristique
                                        posuere.
                                    </p>
                                </div>
                            </section>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>