<div class="section-resources">
    <div class="padding-global">
        <div class="container">
            <div class="text-center">
                <div class="section-title center">
                    <div class="resources-title-wrap">
                        <div>
                            <h1 class="extraheading-h1">Style Guide</h1>
                            <p class="text-grey01">
                                All graphical assets used in this template are licensed
                                for personal and commercial use. Before using a specific
                                asset in this template, please check the license below<br /><br />
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="styleguide-wrap">
                <div class="styleguide-heading">
                    <h1 class="heading-h1">Typography</h1>
                </div>
                <div class="styleguide-content-wrap">
                    <div class="styleguide-subheading">
                        <h2 class="heading-h3">Extra Headings</h2>
                    </div>
                    <div class="styleguide-content">
                        <div id="w-node-a75afa43-0736-5dd6-2eb0-4cd069efece4-e9bc7c53"
                             class="styleguide-content-item">
                            <h1 class="extraheading-h1">Extra Headings 01</h1>
                            <p>ExtraHeading-H1 — 58 px<br /></p>
                        </div>
                        <div id="w-node-a75afa43-0736-5dd6-2eb0-4cd069efeceb-e9bc7c53"
                             class="styleguide-content-item">
                            <h1 class="extraheading-h2">Extra Headings 02</h1>
                            <p>Heading-H2 — 38 px<br /></p>
                        </div>
                        <div id="w-node-a75afa43-0736-5dd6-2eb0-4cd069efecf2-e9bc7c53"
                             class="styleguide-content-item">
                            <h1 class="extraheading-h3">Extra Headings 03</h1>
                            <p>Heading-H3 — 32 px<br /></p>
                        </div>
                        <div id="w-node-a75afa43-0736-5dd6-2eb0-4cd069efecf9-e9bc7c53"
                             class="styleguide-content-item">
                            <h1 class="extraheading-h4">Extra Headings 04</h1>
                            <p>Heading-H4 — 28 px<br /></p>
                        </div>
                        <div id="w-node-a75afa43-0736-5dd6-2eb0-4cd069efed00-e9bc7c53"
                             class="styleguide-content-item">
                            <h1 class="extraheading-h5">Extra Headings 05</h1>
                            <p>Heading-H5 — 24 px<br /></p>
                        </div>
                        <div id="w-node-a75afa43-0736-5dd6-2eb0-4cd069efed07-e9bc7c53"
                             class="styleguide-content-item">
                            <h1 class="extraheading-h6">Extra Headings 06</h1>
                            <p>Heading-H6 — 10 px<br /></p>
                        </div>
                    </div>
                </div>
                <div class="styleguide-content-wrap">
                    <div class="styleguide-subheading">
                        <h2 class="heading-h3">Heading</h2>
                    </div>
                    <div class="styleguide-content">
                        <div id="w-node-b016e957-e3e4-65fe-1cd6-85eea48a8117-e9bc7c53"
                             class="styleguide-content-item">
                            <h1 class="heading-h1">Heading 01</h1>
                            <p>Heading-H1 — 34 px<br /></p>
                        </div>
                        <div id="w-node-bad6dbe5-80ad-7e7b-b8d2-a1f3cc24c6a1-e9bc7c53"
                             class="styleguide-content-item">
                            <h1 class="heading-h2">Heading 02</h1>
                            <p>Heading-H2 — 18 px<br /></p>
                        </div>
                        <div id="w-node-_6746b7d0-dfa3-d462-1e4c-9996d3a760ce-e9bc7c53"
                             class="styleguide-content-item">
                            <h1 class="heading-h3">Heading 03</h1>
                            <p>Heading-H3 — 16 px<br /></p>
                        </div>
                        <div id="w-node-_4ef625d2-3dd1-a114-b9fa-c67fe20aeb24-e9bc7c53"
                             class="styleguide-content-item">
                            <h1 class="heading-h4">Heading 04</h1>
                            <p>Heading-H4 — 14 px<br /></p>
                        </div>
                        <div id="w-node-_8af069a2-44a9-0fc6-df96-a1c5ec850690-e9bc7c53"
                             class="styleguide-content-item">
                            <h1 class="heading-h5">Heading 05</h1>
                            <p>Heading-H5 — 12 px<br /></p>
                        </div>
                        <div id="w-node-e0f64bd9-b9d0-c1ce-3a68-50cc356083a5-e9bc7c53"
                             class="styleguide-content-item">
                            <h1 class="heading-h6">Heading 06</h1>
                            <p>Heading-H6 — 10 px<br /></p>
                        </div>
                    </div>
                </div>
                <div class="styleguide-content-wrap">
                    <div class="styleguide-subheading">
                        <h2 class="heading-h3">Text Size</h2>
                    </div>
                    <div class="styleguide-content">
                        <div id="w-node-_4d41843d-5d81-e2ec-dc48-f693ad56cd01-e9bc7c53"
                             class="styleguide-content-item">
                            <p class="text-size-lg">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Suspendisse varius enim in eros elementum tristique. Duis
                                cursus, mi quis viverra ornare, eros dolor interdum nulla,
                                ut commodo diam libero vitae erat. Aenean faucibus nibh et
                                justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae
                                risus tristique posuere.<br />
                            </p>
                            <p>Text-Size-Lg — 18 px<br /></p>
                        </div>
                        <div id="w-node-_20714977-0a90-dd5b-b7c5-bfde35de21bc-e9bc7c53"
                             class="styleguide-content-item">
                            <p class="text-size-md">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Suspendisse varius enim in eros elementum tristique. Duis
                                cursus, mi quis viverra ornare, eros dolor interdum nulla,
                                ut commodo diam libero vitae erat. Aenean faucibus nibh et
                                justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae
                                risus tristique posuere.<br />
                            </p>
                            <p>Text-Size-Md — 16 px<br /></p>
                        </div>
                        <div id="w-node-_474ab4ff-0463-40aa-b183-2a56d0e82531-e9bc7c53"
                             class="styleguide-content-item">
                            <p class="text-size-sm">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Suspendisse varius enim in eros elementum tristique. Duis
                                cursus, mi quis viverra ornare, eros dolor interdum nulla,
                                ut commodo diam libero vitae erat. Aenean faucibus nibh et
                                justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae
                                risus tristique posuere.<br />
                            </p>
                            <p class="paragraph">Text-Size-Sm — 14 px<br /></p>
                        </div>
                        <div id="w-node-e0ed523c-1e9c-956d-dc12-d1f13bc7a062-e9bc7c53"
                             class="styleguide-content-item">
                            <p class="text-size-xs">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Suspendisse varius enim in eros elementum tristique. Duis
                                cursus, mi quis viverra ornare, eros dolor interdum nulla,
                                ut commodo diam libero vitae erat. Aenean faucibus nibh et
                                justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae
                                risus tristique posuere.<br />
                            </p>
                            <p>Text-Size-Xs — 12 px<br /></p>
                        </div>
                        <div id="w-node-b56e2634-c883-eafa-421f-b285b2f97c0a-e9bc7c53"
                             class="styleguide-content-item">
                            <p class="text-size-xxs">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Suspendisse varius enim in eros elementum tristique. Duis
                                cursus, mi quis viverra ornare, eros dolor interdum nulla,
                                ut commodo diam libero vitae erat. Aenean faucibus nibh et
                                justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae
                                risus tristique posuere.<br />
                            </p>
                            <p>Text-Size-Xxs — 10 px<br /></p>
                        </div>
                    </div>
                </div>
                <div class="styleguide-content-wrap">
                    <div class="styleguide-subheading">
                        <h2 class="heading-h3">Text Weights</h2>
                    </div>
                    <div class="styleguide-content">
                        <div id="w-node-f09155f4-9eff-8f20-c679-2dd5d535065f-e9bc7c53"
                             class="styleguide-content-item">
                            <p class="text-weight-bold">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Suspendisse varius enim in eros elementum tristique. Duis
                                cursus, mi quis viverra ornare, eros dolor interdum nulla,
                                ut commodo diam libero vitae erat. Aenean faucibus nibh et
                                justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae
                                risus tristique posuere.<br />
                            </p>
                            <p>Text-Weight-Bold — 700<br /></p>
                        </div>
                        <div id="w-node-e10b1814-7418-c1c8-b167-a740f693f1bb-e9bc7c53"
                             class="styleguide-content-item">
                            <p class="text-weight-semibold">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Suspendisse varius enim in eros elementum tristique. Duis
                                cursus, mi quis viverra ornare, eros dolor interdum nulla,
                                ut commodo diam libero vitae erat. Aenean faucibus nibh et
                                justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae
                                risus tristique posuere.<br />
                            </p>
                            <p>Text-Weight-Bold — 600<br /></p>
                        </div>
                        <div id="w-node-_310f835f-1928-a4d2-9472-10c1e8f1bc08-e9bc7c53"
                             class="styleguide-content-item">
                            <p class="text-weight-medium">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Suspendisse varius enim in eros elementum tristique. Duis
                                cursus, mi quis viverra ornare, eros dolor interdum nulla,
                                ut commodo diam libero vitae erat. Aenean faucibus nibh et
                                justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae
                                risus tristique posuere.<br />
                            </p>
                            <p>Text-Weight-Medium — 500<br /></p>
                        </div>
                        <div id="w-node-cc365429-f8e9-2c2a-f490-4b7363cadc14-e9bc7c53"
                             class="styleguide-content-item">
                            <p class="text-weight-normal">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Suspendisse varius enim in eros elementum tristique. Duis
                                cursus, mi quis viverra ornare, eros dolor interdum nulla,
                                ut commodo diam libero vitae erat. Aenean faucibus nibh et
                                justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae
                                risus tristique posuere.<br />
                            </p>
                            <p>Text-Weight-Normal — 400<br /></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="styleguide-wrap">
                <div class="styleguide-heading">
                    <h1 class="heading-h1">Colours</h1>
                </div>
                <div class="styleguide-content-wrap">
                    <div class="styleguide-subheading">
                        <h2 class="heading-h3">Primary Colors</h2>
                    </div>
                    <div class="styleguide-content colours">
                        <div id="w-node-_8b7436ab-af86-4e5a-8ff5-71367cf1ca87-e9bc7c53"
                             class="styleguide-content-item">
                            <div class="styleguide-content-colours">
                                <div class="styleguide-content-colours-item dark-green">
                                    <p>Dark Green</p>
                                    <p>#1E4C2F</p>
                                </div>
                                <div class="styleguide-content-colours-item darkgreen2">
                                    <p>DarkGreen2</p>
                                    <p>#257E34</p>
                                </div>
                                <div class="styleguide-content-colours-item darkgreen3">
                                    <p>DarkGreen3</p>
                                    <p>#1D9E34</p>
                                </div>
                            </div>
                        </div>
                        <div id="w-node-cf795f23-7cd4-27f9-07da-e7f131abd986-e9bc7c53"
                             class="styleguide-content-item">
                            <div class="styleguide-content-colours">
                                <div class="styleguide-content-colours-item black">
                                    <p>Black</p>
                                    <p>#0B0F0E</p>
                                </div>
                                <div class="styleguide-content-colours-item black2">
                                    <p>Black2</p>
                                    <p>#1D2322</p>
                                </div>
                                <div class="styleguide-content-colours-item black3">
                                    <p>Black3</p>
                                    <p>#313736</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="styleguide-content-wrap">
                    <div class="styleguide-subheading">
                        <h2 class="heading-h3">Secondary Color</h2>
                    </div>
                    <div class="styleguide-content colours">
                        <div id="w-node-_682d5ed5-d6c1-c0da-afd4-576a60701598-e9bc7c53"
                             class="styleguide-content-item">
                            <div class="styleguide-content-colours">
                                <div class="styleguide-content-colours-item grey">
                                    <p>Grey</p>
                                    <p>#818B9C</p>
                                </div>
                                <div class="styleguide-content-colours-item grey2">
                                    <p>Grey2</p>
                                    <p>#9BA6B9</p>
                                </div>
                                <div class="styleguide-content-colours-item grey3">
                                    <p>Grey3</p>
                                    <p>#BCC5D4</p>
                                </div>
                            </div>
                        </div>
                        <div id="w-node-_682d5ed5-d6c1-c0da-afd4-576a607015a9-e9bc7c53"
                             class="styleguide-content-item">
                            <div class="styleguide-content-colours">
                                <div class="styleguide-content-colours-item lgrey text-black">
                                    <p>lGrey</p>
                                    <p>#F1F1F1</p>
                                </div>
                                <div class="styleguide-content-colours-item lgrey2 text-black">
                                    <p>lGrey2</p>
                                    <p>#F6F6F6</p>
                                </div>
                                <div class="styleguide-content-colours-item lgrey3 text-black">
                                    <p>lGrey3</p>
                                    <p>#F9F9F9</p>
                                </div>
                            </div>
                        </div>
                        <div id="w-node-_8de253f6-72d8-bda8-b596-642b3912d510-e9bc7c53"
                             class="styleguide-content-item">
                            <div class="styleguide-content-colours">
                                <div class="styleguide-content-colours-item dgrey text-black">
                                    <p>dGrey</p>
                                    <p>#E4E9EE</p>
                                </div>
                                <div class="styleguide-content-colours-item dgrey2 text-black">
                                    <p>dGrey2</p>
                                    <p>#F0F3F6</p>
                                </div>
                                <div class="styleguide-content-colours-item dgrey3 text-black">
                                    <p>dGrey3</p>
                                    <p>#F8F9FC</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="styleguide-content-wrap">
                    <div class="styleguide-subheading">
                        <h2 class="heading-h3">Support Color</h2>
                    </div>
                    <div class="styleguide-content colours">
                        <div id="w-node-_16578e18-ab15-3b5e-5e01-8a86514d9df3-e9bc7c53"
                             class="styleguide-content-item">
                            <div class="styleguide-content-colours">
                                <div class="styleguide-content-colours-item orange">
                                    <p>Orange</p>
                                    <p>#3D5BF6</p>
                                </div>
                                <div class="styleguide-content-colours-item orange2">
                                    <p>Orange2</p>
                                    <p>#AAAFBE</p>
                                </div>
                                <div class="styleguide-content-colours-item orange3">
                                    <p>Orange3</p>
                                    <p>#D4D7DF</p>
                                </div>
                            </div>
                        </div>
                        <div id="w-node-_16578e18-ab15-3b5e-5e01-8a86514d9e04-e9bc7c53"
                             class="styleguide-content-item">
                            <div class="styleguide-content-colours">
                                <div class="styleguide-content-colours-item red">
                                    <p>Red</p>
                                    <p>#E04124</p>
                                </div>
                                <div class="styleguide-content-colours-item red2">
                                    <p>Red2</p>
                                    <p>#EF907F</p>
                                </div>
                                <div class="styleguide-content-colours-item red3">
                                    <p>Red3</p>
                                    <p>#F9BCB1</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="styleguide-content-wrap">
                    <div class="styleguide-subheading">
                        <h2 class="heading-h3">Screen Color</h2>
                    </div>
                    <div class="styleguide-content colours">
                        <div id="w-node-_654b5454-ee39-ba5c-6d48-133f36e9150d-e9bc7c53"
                             class="styleguide-content-item">
                            <div class="styleguide-content-colours">
                                <div class="styleguide-content-colours-item white">
                                    <p>White</p>
                                    <p>#FFFFFF</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="styleguide-wrap">
                <div class="styleguide-heading">
                    <h1 class="heading-h1">Button</h1>
                </div>
                <div class="styleguide-content-wrap">
                    <div class="styleguide-content colours">
                        <div id="w-node-fa1edf5f-ad2f-4562-c0d4-09fc967c8e2d-e9bc7c53"
                             class="styleguide-content-item">
                            <a href="#" class="button w-button">Button Text</a>
                        </div>
                        <div id="w-node-d0caa399-b7bc-db9e-7ce6-77c181e89204-e9bc7c53"
                             class="styleguide-content-item">
                            <a href="#" class="button secondary w-button">Button Text</a>
                        </div>
                        <div id="w-node-_3ca90d15-a3d5-cfc0-a20c-ff40b313b666-e9bc7c53"
                             class="styleguide-content-item">
                            <a href="#" class="button wicon w-inline-block">
                                <img src="https://assets-global.website-files.com/655334388fc47d51f723afb0/655373123c0acd9bc46f5778_shopping-cart.svg"
                                     loading="lazy"
                                     alt="chart icon" />
                                <div>Button Text</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>