<div class="section-resources">
    <div class="padding-global">
        <div class="container">
            <div class="section-title center">
                <div class="resources-title-wrap">
                    <div>
                        <h1 class="extraheading-h1">License</h1>
                        <p class="text-grey01">
                            All graphical assets used in this template are licensed for
                            personal and commercial use. Before using a specific asset
                            in this template, please check the license below<br /><br />
                        </p>
                    </div>
                </div>
            </div>
            <div class="resources-info--wrap">
                <div class="resources-info">
                    <h1 class="extraheading-h6">Images</h1>
                    <p class="text-grey01">
                        All photography and assets are sourced from Unsplash and is
                        free to use in your projects
                    </p>
                    <a href="https://unsplash.com/"
                       target="_blank"
                       class="link text-darkgreen3 text-weight-medium">Unsplash</a>
                </div>
                <div class="resources-info">
                    <h1 class="extraheading-h6">Icons</h1>
                    <p class="text-grey01">
                        Icons are sourced from Remix icon and is available under CC0
                        licence. Also from Hero icons and is available under MIT
                        license
                    </p>
                    <div class="button-wrap">
                        <a href="https://heroicons.com/"
                           target="_blank"
                           class="link text-darkgreen3 text-weight-medium">Heroicons</a><a href="https://remixicon.com/"
                                                                                           target="_blank"
                                                                                           class="link text-darkgreen3 text-weight-medium">Remixicon</a>
                    </div>
                </div>
                <div id="w-node-_4f72c790-ca8f-4546-c444-8c87a8543b66-53a62a4c"
                     class="resources-info">
                    <h1 class="extraheading-h6"><strong>Fonts</strong></h1>
                    <p class="text-grey01">
                        This template uses Familjen Grotesk typography. You can obtain
                        these fonts online as they are available for personal and
                        commercial usage.<br />
                    </p>
                    <a href="https://fonts.google.com/specimen/Familjen+Grotesk?query=grote"
                       target="_blank"
                       class="link text-darkgreen3 text-weight-medium">Familjen Grotesk Font</a>
                </div>
            </div>
        </div>
    </div>
</div>