<div class="section-resources">
    <div class="padding-global">
        <div class="container">
            <div class="section-title center">
                <div class="resources-title-wrap">
                    <div>
                        <h1 class="extraheading-h1">Changelog</h1>
                        <p class="text-grey01">
                            Follow and view this page to keep updated with the latest
                            changes made in this template.<br />
                        </p>
                    </div>
                </div>
            </div>
            <div class="resources-info">
                <p class="text-weight-semibold text-darkgreen3">Version 1.0</p>
                <h1 class="extraheading-h6">November 25 , 2023</h1>
            </div>
        </div>
    </div>
</div>