<div class="section-contact">
    <div class="padding-global">
        <div class="container">
            <div class="contact-wrap">
                <div class="contact-container">
                    <h1 class="extraheading-h2">
                        For Lenny Customer Complaint Services
                    </h1>
                    <div class="w-form">
                        <form id="email-form"
                              name="email-form"
                              data-name="Email Form"
                              method="get"
                              data-wf-page-id="655f93aa63c9c30ae9bc7c44"
                              data-wf-element-id="b523ca8d-580a-75ca-cb8e-f8c6dbe18cb5">
                            <div class="form-div-wrap">
                                <div class="form-div">
                                    <label for="First-Name-2" class="field-label">First Name</label><input class="field w-input"
                                                                                                           maxlength="256"
                                                                                                           name="First-Name-2"
                                                                                                           data-name="First Name 2"
                                                                                                           placeholder="Enter your first name"
                                                                                                           type="text"
                                                                                                           id="First-Name-2" />
                                </div>
                                <div class="form-div">
                                    <label for="Last-Name" class="field-label">Last Name</label><input class="field w-input"
                                                                                                       maxlength="256"
                                                                                                       name="Last-Name"
                                                                                                       data-name="Last Name"
                                                                                                       placeholder="Enter your last name"
                                                                                                       type="text"
                                                                                                       id="Last-Name" />
                                </div>
                            </div>
                            <div class="form-div-wrap">
                                <div class="form-div">
                                    <label for="Email-Address" class="field-label">Email Address</label><input class="field w-input"
                                                                                                               maxlength="256"
                                                                                                               name="Email-Address"
                                                                                                               data-name="Email Address"
                                                                                                               placeholder="Enter your email address"
                                                                                                               type="email"
                                                                                                               id="Email-Address" />
                                </div>
                                <div class="form-div">
                                    <label for="Last-Name-2" class="field-label">Phone Number</label><input class="field w-input"
                                                                                                            maxlength="256"
                                                                                                            name="Last-Name-2"
                                                                                                            data-name="Last Name 2"
                                                                                                            placeholder="Enter your phone number"
                                                                                                            type="tel"
                                                                                                            id="Last-Name-2" />
                                </div>
                            </div>
                            <div class="form-div">
                                <label for="Message" class="field-label">Message</label><textarea placeholder="Example Text"
                                                                                                  maxlength="5000"
                                                                                                  id="Message"
                                                                                                  name="Message"
                                                                                                  data-name="Message"
                                                                                                  class="field w-input"></textarea>
                            </div>
                            <div class="form-btn">
                                <input type="submit"
                                       data-wait="Please wait..."
                                       class="button w-button"
                                       value="Submit" />
                            </div>
                        </form>
                        <div class="w-form-done">
                            <div>Thank you! Your submission has been received!</div>
                        </div>
                        <div class="w-form-fail">
                            <div>
                                Oops! Something went wrong while submitting the form.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-promo-banner">
    <div class="padding-global">
        <div class="container">
            <div class="w-dyn-list">
                <div role="list" class="w-dyn-items">
                    <div role="listitem" class="w-dyn-item">
                        <div class="promo-banner-wrap">
                            <div class="promo-banner-image-wrap">
                                <img loading="lazy"
                                     data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_main_image_4dr%22%2C%22to%22%3A%22src%22%7D%5D"
                                     src="~/assets/image/65eea75ee020cd817cd492cc_igor-karimov-M1nZU61xTK4-unsplash.jpg"
                                     alt=""
                                     sizes="(max-width: 479px) 36vw, (max-width: 767px) 39vw, (max-width: 991px) 40vw, (max-width: 1439px) 26vw, 60vw"
                                     srcset="
                          https://assets-global.website-files.com/6555b9ad0583113ca12065af/65eea75ee020cd817cd492cc_igor-karimov-M1nZU61xTK4-unsplash-p-500.jpg   500w,
                          https://assets-global.website-files.com/6555b9ad0583113ca12065af/65eea75ee020cd817cd492cc_igor-karimov-M1nZU61xTK4-unsplash-p-800.jpg   800w,
                          https://assets-global.website-files.com/6555b9ad0583113ca12065af/65eea75ee020cd817cd492cc_igor-karimov-M1nZU61xTK4-unsplash-p-1080.jpg 1080w,
                          https://assets-global.website-files.com/6555b9ad0583113ca12065af/65eea75ee020cd817cd492cc_igor-karimov-M1nZU61xTK4-unsplash-p-1600.jpg 1600w,
                          https://assets-global.website-files.com/6555b9ad0583113ca12065af/65eea75ee020cd817cd492cc_igor-karimov-M1nZU61xTK4-unsplash-p-2000.jpg 2000w,
                          https://assets-global.website-files.com/6555b9ad0583113ca12065af/65eea75ee020cd817cd492cc_igor-karimov-M1nZU61xTK4-unsplash-p-2600.jpg 2600w,
                          https://assets-global.website-files.com/6555b9ad0583113ca12065af/65eea75ee020cd817cd492cc_igor-karimov-M1nZU61xTK4-unsplash-p-3200.jpg 3200w,
                          https://assets-global.website-files.com/6555b9ad0583113ca12065af/65eea75ee020cd817cd492cc_igor-karimov-M1nZU61xTK4-unsplash.jpg        3872w
                        "
                                     class="promo-banner-image" />
                            </div>
                            <div class="promo-banner-description-wrap">
                                <div class="promo-banner-text-wrap">
                                    <h1 class="extraheading-h2">
                                        GYZ59 Wireless Play Controller Stick
                                    </h1>
                                    <p class="text-grey01">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing
                                        elit ut aliquam, purus sit amet luctus venenatis,
                                        lectus magna fringilla urna, porttitor rhoncus dolor
                                        purus non enim praesent elementum facilisis leo, vel
                                        fringilla est ullamcorper eget nulla facilisi etiam
                                        dignissim diam quis enim lobortis scelerisque
                                        fermentum dui faucibus in ornare quam viverra orci
                                        sagittis eu volutpat odio facilisis mauris sit amet
                                        massa vitae tortor.
                                    </p>
                                </div>
                                <div class="button-wrap">
                                    <a href="product/gyz59-wireless-play-controller-stick.html"
                                       class="button w-button">Buy Now</a><a href="product/gyz59-wireless-play-controller-stick.html"
                                                                             class="button secondary w-button">View Detail</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>